<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Cas>
            <version>0.1.2</version>
        </Unl_Cas>
    </modules>
    
    <global>
        <blocks>
            <unl_cas>
                <class>Unl_Cas_Block</class>
            </unl_cas>
        </blocks>
        <helpers>
            <unl_cas>
                <class>Unl_Cas_Helper</class>
            </unl_cas>
        </helpers>
        <models>
            <unl_cas>
                <class>Unl_Cas_Model</class>
            </unl_cas>
        </models>
        <resources>
            <unl_cas_setup>
                <setup>
                    <module>Unl_Cas</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unl_cas_setup>
            <unl_cas_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unl_cas_write>
            <unl_cas_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unl_cas_read>
        </resources>
        <events>
            <payment_method_is_active>
                <observers>
                    <unlcas_is_payment_active>
                        <type>singleton</type>
                        <class>unl_cas/observer</class>
                        <method>isPaymentMethodActive</method>
                    </unlcas_is_payment_active>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
        
    <frontend>
        <secure_url>
            <cas_customer>/unlcas/</cas_customer>
        </secure_url>
        <routers>
            <unl_cas>
                <use>standard</use>
                <args>
                    <module>Unl_Cas</module>
                    <frontName>unlcas</frontName>
                </args>
            </unl_cas>
        </routers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <revoke_cost_object_auth>
                        <type>singleton</type>
                        <class>unl_cas/observer</class>
                        <method>onCheckoutSubmitAfterAll</method>
                    </revoke_cost_object_auth>
                </observers>
            </checkout_submit_all_after>
            <customer_login>
                <observers>
                    <customer_login_observer>
                        <type>singleton</type>
                        <class>unl_cas/observer</class>
                        <method>customerLogin</method>
                    </customer_login_observer>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <customer_login_observer>
                        <type>singleton</type>
                        <class>unl_cas/observer</class>
                        <method>customerLogout</method>
                    </customer_login_observer>
                </observers>
            </customer_logout>
            <sales_quote_payment_import_data_before>
                <observers>
                    <cost_object_group_fix>
                        <type>singleton</type>
                        <class>unl_cas/observer</class>
                        <method>onPaymentMethodImport</method>
                    </cost_object_group_fix>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>
        <layout>
            <updates>
                <unlcas module="Unl_Cas">
                    <file>unlcas.xml</file>
                </unlcas>
            </updates>
        </layout>
    </frontend>
    
    <default>
        <customer>
            <unl_ldap>
                <server>ldap.unl.edu ldap-backup.unl.edu</server>
                <basedn>dc=unl,dc=edu</basedn>
                <bindpw backend_model="adminhtml/system_config_backend_encrypted"/>
            </unl_ldap>
        </customer>
    </default>
</config>
