<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Cas>
            <version>0.1.0</version>
            <depends>
                <Mage_Customer />
            </depends>
        </Unl_Cas>
    </modules>
    
    <global>
        <blocks>
            <unl_cas>
                <class>Unl_Cas_Block</class>
            </unl_cas>
        </blocks>
        <helpers>
            <unl_cas>
                <class>Unl_Cas_Helper</class>
            </unl_cas>
        </helpers>
        <models>
            <unl_cas>
                <class>Unl_Cas_Model</class>
            </unl_cas>
        </models>
        <resources>
            <unl_cas_setup>
                <setup>
                    <module>Unl_Cas</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unl_cas_setup>
            <unl_cas_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unl_cas_write>
            <unl_cas_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unl_cas_read>
        </resources>
    </global>
    
    <admin>
        <fieldsets>
            <customer_dataflow>
                <unl_cas_uid><system>1</system></unl_cas_uid>
            </customer_dataflow>
        </fieldsets>
    </admin>
        
    <frontend>
        <secure_url>
            <customer>/unlcas/</customer>
        </secure_url>
        <routers>
            <unl_cas>
                <use>standard</use>
                <args>
                    <module>Unl_Cas</module>
                    <frontName>unlcas</frontName>
                </args>
            </unl_cas>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <customer_login_observer>
                        <type>singleton</type>
                        <class>unl_cas/observer</class>
                        <method>customerLogin</method>
                    </customer_login_observer>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <customer_login_observer>
                        <type>singleton</type>
                        <class>unl_cas/observer</class>
                        <method>customerLogout</method>
                    </customer_login_observer>
                </observers>
            </customer_logout>
        </events>
        <layout>
            <updates>
                <unlcas module="Unl_Cas">
                    <file>unlcas.xml</file>
                </unlcas>
            </updates>
        </layout>
    </frontend>
</config>