<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Cas>
            <version>0.2.0</version>
        </Unl_Cas>
    </modules>
    
    <global>
        <blocks>
            <unl_cas>
                <class>Unl_Cas_Block</class>
            </unl_cas>
        </blocks>
        <helpers>
            <unl_cas>
                <class>Unl_Cas_Helper</class>
            </unl_cas>
            <rss>
                <rewrite>
                    <data>Unl_Cas_Helper_Rss</data>
                </rewrite>
            </rss>
        </helpers>
        <models>
            <unl_cas>
                <class>Unl_Cas_Model</class>
                <resourceModel>unl_cas_resource</resourceModel>
            </unl_cas>
            <unl_cas_resource>
                <class>Unl_Cas_Model_Resource</class>
            </unl_cas_resource>
        </models>
        <resources>
            <unl_cas_setup>
                <setup>
                    <module>Unl_Cas</module>
                    <class>Unl_Cas_Model_Resource_Setup</class>
                </setup>
            </unl_cas_setup>
        </resources>
        <events>
            <payment_method_is_active>
                <observers>
                    <unlcas_is_payment_active>
                        <class>unl_cas/observer</class>
                        <method>isPaymentMethodActive</method>
                    </unlcas_is_payment_active>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
        
    <frontend>
        <secure_url>
            <cas_customer>/unlcas/</cas_customer>
        </secure_url>
        <routers>
            <unl_cas>
                <use>standard</use>
                <args>
                    <module>Unl_Cas</module>
                    <frontName>unlcas</frontName>
                </args>
            </unl_cas>
        </routers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <revoke_cost_object_auth>
                        <class>unl_cas/observer</class>
                        <method>onCheckoutSubmitAfterAll</method>
                    </revoke_cost_object_auth>
                </observers>
            </checkout_submit_all_after>
            <customer_login>
                <observers>
                    <customer_login_observer>
                        <class>unl_cas/observer</class>
                        <method>customerLogin</method>
                    </customer_login_observer>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <customer_login_observer>
                        <class>unl_cas/observer</class>
                        <method>customerLogout</method>
                    </customer_login_observer>
                </observers>
            </customer_logout>
            <sales_quote_payment_import_data_before>
                <observers>
                    <cost_object_group_fix>
                        <class>unl_cas/observer</class>
                        <method>onPaymentMethodImport</method>
                    </cost_object_group_fix>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>
        <layout>
            <updates>
                <unlcas module="Unl_Cas">
                    <file>unlcas.xml</file>
                </unlcas>
            </updates>
        </layout>
    </frontend>
    
    <adminhtml>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <filter_cas>
                        <class>unl_cas/observer</class>
                        <method>tryAdminLdapUpdate</method>
                    </filter_cas>
                </observers>
            </admin_session_user_login_success>
            
            <adminhtml_block_html_before>
                <observers>
                    <unl_cas>
                        <class>unl_cas/observer</class>
                        <method>onBeforeToHtml</method>
                    </unl_cas>
                </observers>
            </adminhtml_block_html_before>
            
            <controller_action_postdispatch_adminhtml_index_logout>
                <observers>
                    <clear_simplecas>
                        <class>unl_cas/observer</class>
                        <method>onAfterAdminLogout</method>
                    </clear_simplecas>
                </observers>
            </controller_action_postdispatch_adminhtml_index_logout>
        </events>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Unl_Cas before="Mage_Adminhtml">Unl_Cas_Adminhtml</Unl_Cas>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <default>
        <customer>
            <unl_ldap>
                <server>ldap.unl.edu ldap-backup.unl.edu</server>
                <basedn>dc=unl,dc=edu</basedn>
                <bindpw backend_model="adminhtml/system_config_backend_encrypted"/>
            </unl_ldap>
        </customer>
        <admin>
            <unl_ldap>
                <idm_server>https://id.unl.edu/</idm_server>
                <server>ldap.unl.edu ldap-backup.unl.edu</server>
                <basedn>dc=unl,dc=edu</basedn>
                <bindpw backend_model="adminhtml/system_config_backend_encrypted"/>
            </unl_ldap>
        </admin>
    </default>
</config>
