<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Adminhtml>
            <version>0.1.0</version>
        </Unl_Adminhtml>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <cms_block_edit_form>Unl_Adminhtml_Block_Cms_Block_Edit_Form</cms_block_edit_form>
                    <cms_page_edit_tab_main>Unl_Adminhtml_Block_Cms_Page_Edit_Tab_Main</cms_page_edit_tab_main>
                    <newsletter_template_edit_form>Unl_Adminhtml_Block_Newsletter_Template_Edit_Form</newsletter_template_edit_form>
                    <system_email_template_edit_form>Unl_Adminhtml_Block_System_Email_Template_Edit_Form</system_email_template_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>