button.hover {
    background: url("../default/images/btn_over_bg.gif") repeat-x scroll 0 0 #F77C16;
}
button.active {
    background: url("../default/images/btn_on_bg.gif") repeat-x scroll 0 0 #F77C16;
}

.multigrid .content-header {
	border-bottom: 4px double #DFDFDF;
    margin-bottom: 5px;
    padding-bottom: 0.25em;
}

.multigrid .content-header h2 {
	color: #6F8992;
    float: left;
    font-size: 1.1em;
    margin: 1.3em 0.5em 0 0;
}

.head-customer-tag {
	background-image: url("../default/images/fam_tag_orange.gif");
}

.ctag {
    white-space: nowrap;
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 0 3px;
}

.css-tooltip {
	border-bottom: 1px dotted #2f2f2f;
	position: relative;
	cursor: help;
}

.css-tooltip span {
	display: none;
	position: absolute;
	padding: 5px;
	border: 1px solid #D7C699;
	background: #fcfac9;
	text-align: left;
}

.css-tooltip:hover span {
    display: inline;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    position: absolute; right: 1em; top: 2em; z-index: 99;
    width: 250px;
}

#adminlogGrid .hor-scroll {
	overflow: visible;
}

.webiste-groups {
	display: none;
}

.shipment-invoice {
	background: #fcfac9;
	border: 1px solid #d7c699;
	margin: 10px -16px -11px;
	padding: 12px 20px;
}

.packaging-window,
.packed-window {
	width: 98%;
	margin-left: -49%;
}

.product-options dd .qty-disabled {
    background: none;
    border: 0;
    color: #000;
    padding: 3px;
}
