<?xml version="1.0"?>
<config>
    <modules>
        <Unl_PaymentFilter>
            <version>0.2.0</version>
        </Unl_PaymentFilter>
    </modules>
    
    <global>
    	<helpers>
            <unl_paymentfilter>
               <class>Unl_PaymentFilter_Helper</class>
            </unl_paymentfilter>
        </helpers>
    
        <models>
        	<unl_paymentfilter>
                <class>Unl_PaymentFilter_Model</class>
                <resourceModel>unl_paymentfilter_resource</resourceModel>
            </unl_paymentfilter>
            <unl_paymentfilter_resource>
                <class>Unl_PaymentFilter_Model_Resource</class>
            </unl_paymentfilter_resource>
        </models>
        
        <resources>
        	<unl_paymentfilter_setup>
        		<setup>
	               <module>Unl_PaymentFilter</module>
	               <class>Unl_PaymentFilter_Model_Resource_Setup</class>
	            </setup>
        	</unl_paymentfilter_setup>
        </resources>
        
        <events>
            <payment_method_is_active>
                <observers>
                    <unl_paymentfilter_filter>
                        <class>unl_paymentfilter/observer</class>
                        <method>isPaymentMethodActive</method>
                    </unl_paymentfilter_filter>
                </observers>
            </payment_method_is_active>
        </events>
        
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <payment_filter/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
</config>
