<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles

@-->

{{block type='core/template' area='frontend' template='email/common/header.phtml'}}
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="line-height: normal;">
  <tr>
       <td bgcolor="#F8F5EC" style="padding: 50px 15px 50px 15px;" class="section-padding">
             <table align="center" border="0" cellpadding="0" cellspacing="0" width="620" class="responsive-table">
                  <tr>
                       <td valign="middle">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                     <td align="left" valign="top">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                               <tr>
                                                    <td align="left" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #cc0000; padding-bottom:20px;">Hello {{htmlescape var=$customer.name}},</td>
                                               </tr>
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350;">
                                                        Your password has been changed. Your new password is <code>{{htmlescape var=$customer.password}}</code>
                                                    </td>
                                               </tr>
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350; padding:1.1em 0;">
                                                        You can change your password at any time by logging into <a href="{{store url='customer/account/'}}" style="text-decoration: none; border-bottom: 1px dotted #cc0000; color: #cc0000;">Your Account</a>.
                                                    </td>
                                               </tr>
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350;">Thank you.</td>
                                               </tr>
                                               <tr>
                                                    <td><a href="{{store url='' _store='default'}}" target="_blank" style="font-size: 20px; font-family: Georgia, serif; color: #cc0000; text-decoration: none; border-bottom: 1px dotted #cc0000;">UNL Marketplace</a></td>
                                               </tr>
                                          </table>
                                     </td>
                                 </tr>
                                
                            </table>
                       </td>
                  </tr>
             </table>
       </td>
  </tr>
</table>
{{block type='core/template' area='frontend' template='email/common/footer.phtml'}}
