/* Site Logo */
#header #logo {
  background-position: 0 0;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
/* Institution title is longer and now a link back to UNL.edu */
#wdn_institution_title a {
  color: inherit;
  text-decoration: none;
}
#wdn_institution_title a:hover,
#wdn_institution_title a:active {
  text-decoration: underline;
}
/* IdM */
#wdn_identity_management {
   display:none;
}
/* Nav */
#navigation:before {
  border-color: #000000;
  -webkit-box-shadow: 1px 1px 2px 0 #dfae7a inset;
  -moz-box-shadow: 1px 1px 2px 0 #dfae7a inset;
  box-shadow: 1px 1px 2px 0 #dfae7a inset;
  box-shadow: inset 1px 1px 2px 0 #2d2d2d;
  -webkit-box-shadow: inset 1px 1px 2px 0 #2d2d2d;
  -moz-box-shadow: inset 1px 1px 2px 0 #2d2d2d;
  background: #060606;
  background: -moz-linear-gradient(top, #060606 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060606), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #060606 0%, #000000 100%);
  background: -o-linear-gradient(top, #060606 0%, #000000 100%);
  background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
  background: linear-gradient(top, #060606 0%, #000000 100%);
}
#navigation {
  background: #060606;
  background: -moz-linear-gradient(top, #060606 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060606), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #060606 0%, #000000 100%);
  background: -o-linear-gradient(top, #060606 0%, #000000 100%);
  background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
  background: linear-gradient(top, #060606 0%, #000000 100%);
}
#navigation > ul > li:hover > a, 
#navigation > ul > li > a, 
#navigation > ul > li > a:hover, 
#navigation > ul > li.empty a, #
navigation > ul > li.empty:hover a {
  background:transparent;
  border:none !important;
}
#wdn_search {
  background:black;
}
/* main content */
#maincontent {
  font-family: Arial, sans-serif;
}
#maincontent a {
  color: #005288;
}
#maincontent a:hover {
  color: #0071B7;
}
#maincontent a:focus {
  color: #0d0d0d;
}
@media (min-width: 320px) {
  
}
@media (min-width: 480px) {
  
}
@media (min-width: 600px) {
  #wdn_copyright {
    background: #060606;
    background: -moz-linear-gradient(top, #060606 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060606), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #060606 0%, #000000 100%);
    background: -o-linear-gradient(top, #060606 0%, #000000 100%);
    background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
    background: linear-gradient(top, #060606 0%, #000000 100%);
    text-shadow: 0 1px 0 #000000;
  }
  #wdn_copyright a:hover {
    color: #b3b3b3;
    text-decoration: none;
  }
  #wdn_copyright #wdn_logos #unl_wordmark {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  #maincontent {
    margin-bottom:0;
  }
}
@media (min-width: 768px) {
  /* Search box */
  #wdn_search {
    background: #060606;
    background: -moz-linear-gradient(top, #060606 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060606), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #060606 0%, #000000 100%);
    background: -o-linear-gradient(top, #060606 0%, #000000 100%);
    background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
    background: linear-gradient(top, #060606 0%, #000000 100%);
  }
  #wdn_search form #q {
    border-color: #000000;
  }
  /* Navigation */
  #breadcrumbs > ul > li.selected > a {
    color: #000000;
  }
  #navigation {
    background: #fff;
  }
  #navigation > ul > li.empty:hover a {
    background: #060606;
    background: -moz-linear-gradient(top, #060606 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060606), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #060606 0%, #000000 100%);
    background: -o-linear-gradient(top, #060606 0%, #000000 100%);
    background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
    background: linear-gradient(top, #060606 0%, #000000 100%);
  }
  #navigation > ul > li > a {
    color: #fff;
    text-shadow: 1px 1px 1px #424242;
    border-right-color: #000000;
    border-left-color: #060606;
    background: #060606;
    background: -moz-linear-gradient(top, #060606 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060606), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #060606 0%, #000000 100%);
    background: -o-linear-gradient(top, #060606 0%, #000000 100%);
    background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
    background: linear-gradient(top, #060606 0%, #000000 100%);
    border-top: 0px !important;
  }
  #navigation > ul > li > a:hover {
    background: #131313;
    background: -moz-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(100%, #0d0d0d));
    background: -webkit-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: -o-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: -ms-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: linear-gradient(top, #131313 0%, #0d0d0d 100%);
  }
  #navigation > ul > li:hover > a {
    background: #131313;
    background: -moz-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(100%, #0d0d0d));
    background: -webkit-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: -o-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: -ms-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: linear-gradient(top, #131313 0%, #0d0d0d 100%);
  }
  #navigation > ul > li > ul > li > a:hover {
     color: #0071B7;
  }
  #maincontent {
     /*background: url('//buros-apps.unl.edu/templates/html/css/images/buros_watermark.jpg') bottom right no-repeat;
     background-size:contain;*/
  }
  #maincontent .two_cols {
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  #maincontent .two_cols li {
    display: inline-block;
  }
  #maincontent [class^="grid"] > .grid2 {
    width: 100%;
  }
  
}
@media (min-width: 960px) {
  #maincontent [class^="grid"] > .grid2 {
    width: 140px;
  }
}
@media (min-width: 1040px) {
  #header #logo {
    background-position: 13px 10px;
  }
}

#footer_floater {
  color: black;
  background: none;
}

/* Repeated for IE compatibility. Ideally, we'd conditionally load these but the CMS doesn't support another stylesheet */
/* Search box */
  .ie8 #wdn_search {
    background: #060606;
    background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
    background: linear-gradient(top, #060606 0%, #000000 100%);
  }
  .ie8 #wdn_search form #q {
    border-color: #000000;
  }
  /* Navigation */
  .ie8 #breadcrumbs > ul > li.selected > a {
    color: #000000;
  }
  .ie8 #navigation {
    background: #fff;
  }
  .ie8 #navigation > ul > li.empty:hover a {
    background: #060606;
    background: -ms-linear-gradient(top, #060606 0%, #000000 100%);
    background: linear-gradient(top, #060606 0%, #000000 100%);
  }
  .ie8 #navigation > ul > li > a {
    color: #fff;
    text-shadow: 1px 1px 1px #424242;
    border-right-color: #000000;
    border-left-color: #060606;
    background: #060606;
    background: linear-gradient(top, #060606 0%, #000000 100%);
    border-top: 0px !important;
  }
  .ie8 #navigation > ul > li > a:hover {
    background: #131313;
    background: -ms-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: linear-gradient(top, #131313 0%, #0d0d0d 100%);
  }
  .ie8 #navigation > ul > li:hover > a {
    background: #131313;
    background: -ms-linear-gradient(top, #131313 0%, #0d0d0d 100%);
    background: linear-gradient(top, #131313 0%, #0d0d0d 100%);
  }
  .ie8 #navigation > ul > li > ul > li > a:hover {
     color: #0071B7;
  }
  .ie8 #maincontent {
     background: url('//buros-apps.unl.edu/templates/html/css/images/buros_watermark.jpg') bottom right no-repeat;
  }
  .ie8 #header #logo {
    background-position: 13px 10px;
  }

/* 
* ===================================================
* Start of Buros Specific CSS 
* ===================================================
*/

html > body {
  background-image: url('//buros-apps.unl.edu/templates/html/css/images/background.png');
}
html #wdn_wrapper {
  border-color: #005288;
  box-shadow: 0px 1px 5px #424242;
  -webkit-box-shadow: 0px 1px 5px #424242;
  -moz-box-shadow: 0px 1px 5px #424242;
}
#header {
  min-height: 44px;
}
#header #logo {
  width: 98%;
  background-image: url('//buros-apps.unl.edu/templates/html/css/images/buros_logo_white.png');
}
#header #wdn_institution_title,
#header #wdn_site_title,
#header .corner-fix-top-right,
#header .corner-fix-bottom-left,
#header #wdn_tool_links {
  display: none;
}
#breadcrumbs {
  display: none;
}
#navigation:before {
  border-color: #00436f;
  box-shadow: inset 1px 1px 2px 0 #0088e1;
  -webkit-box-shadow: inset 1px 1px 2px 0 #0088e1;
  -moz-box-shadow: inset 1px 1px 2px 0 #0088e1;
  background: #005a95;
  background: -moz-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005a95), color-stop(100%, #00436f));
  background: -webkit-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: -o-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: -ms-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: linear-gradient(top, #005a95 0%, #00436f 100%);
}
#navigation {
  background: #005a95;
  background: -moz-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005a95), color-stop(100%, #00436f));
  background: -webkit-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: -o-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: -ms-linear-gradient(top, #005a95 0%, #00436f 100%);
  background: linear-gradient(top, #005a95 0%, #00436f 100%);
}

#burosBanner {
 color: #fff;
}

#footer {
  background: #005288;
  color: #c6d9e6;
  text-shadow: -1px -1px 0 #00395f;
}
#footer form + form legend,
#footer #wdn_createGoURL {
  color: #333;
  text-shadow: 0px 1px 0px #F5F2EF;
}
#footer .footer_col {
  display: none;
}
#footer .footer_col a,
#footer #footer .footer_col:link,
#footer #footer .footer_col:visited {
  color: #c6d9e6;
  text-shadow: -1px -1px 0 #00395f;
}
#maincontent #wdn_Carousel figure {
   line-height:0;
}
#maincontent #wdn_Carousel figure img {
    width:100%;
}
#maincontent #wdn_Carousel figcaption {
   background: #333;
   color:#fff;
   width:100%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  padding:0.8em;
  font-size:1em;
}
#maincontent #wdn_Carousel figcaption h3 {
    color:#fff;
  text-align:center;
  font-size: 1.6em;
}

#maincontent #wdn_Carousel figcaption a {
    color:#70c7db;
}
@media (min-width: 600px) {
  #wdn_copyright {
    border-color: #002f4e;
    box-shadow: 0px 3px 5px #0f0f0f;
    -webkit-box-shadow: 0px 3px 5px #0f0f0f;
    -moz-box-shadow: 0px 3px 5px #0f0f0f;
    text-shadow: none;
  }
  #wdn_copyright a:hover {
    color: #b3b3b3;
    text-decoration: none;
  }
  #wdn_copyright #wdn_logos {
    width: 100px;
  }
  #wdn_copyright #wdn_logos #unl_wordmark {
    border: none;
    padding: 0;
    margin: 0;
  }
  #wdn_copyright #wdn_logos #cic_wordmark,
  #wdn_copyright #wdn_logos #b1g_wordmark {
    display: none;
  }
}
@media (min-width: 768px) {
  html > body {
    background: #005288;
  }
  #header #logo {
    background-image: url('//buros-apps.unl.edu/templates/html/css/images/buros_logo_black.png');
  }
  #navigation {
    background: #fff;
  }
  #navigation > ul > li.empty:hover a {
    background: #005a95;
    background: -moz-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005a95), color-stop(100%, #00436f));
    background: -webkit-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: -o-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: -ms-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: linear-gradient(top, #005a95 0%, #00436f 100%);
  }
  #navigation > ul > li > a {
    text-shadow: 1px 1px 1px #424242;
    border-right-color: #00436f;
    border-left-color: #005a95;
    background: #005a95;
    background: -moz-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005a95), color-stop(100%, #00436f));
    background: -webkit-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: -o-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: -ms-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: linear-gradient(top, #005a95 0%, #00436f 100%);
  }
  #navigation > ul > li > a:hover {
    background: #0069ae;
    background: -moz-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0069ae), color-stop(100%, #005288));
    background: -webkit-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: -o-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: -ms-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: linear-gradient(top, #0069ae 0%, #005288 100%);
  }
  #navigation > ul > li:hover > a {
    background: #0069ae;
    background: -moz-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0069ae), color-stop(100%, #005288));
    background: -webkit-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: -o-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: -ms-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: linear-gradient(top, #0069ae 0%, #005288 100%);
  }
  #maincontent #wdn_Carousel figure img {
    width:56%;
    position:relative;
  }
  #maincontent #wdn_Carousel figure figcaption {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:45%;
    -webkit-box-shadow: -2px 0px 3px -1px rgba(0, 0, 0, 0.3);
    box-shadow: -2px 0px 3px -1px rgba(0, 0, 0, 0.3);
  }
/*
  #maincontent .list_grid .grid2 {
   width: 30%;
  }
  #maincontent .list_grid .grid4 {
   width: 67%;
    margin-left:3%;
  }
*/
}
@media (min-width: 1040px) {
  html > body {
    background-image: url('//buros-apps.unl.edu/templates/html/css/images/background.png');
  }
  #wdn_identity_management {
    top: -29px;
  }
  #header {
    min-height: 85px;
    padding-bottom: 0;
  }
  #header #logo {
    -moz-background-size: auto auto;
    -o-background-size: auto auto;
    -webkit-background-size: auto auto;
    background-size: auto auto;
  }
  #wdn_navigation_wrapper {
    margin-top: 0;
  }
  #maincontent #wdn_Carousel figure figcaption {
    font-size:1.2em;
  }
}

/* Repeated for IE compatibility. Ideally, we'd conditionally load these but the CMS doesn't support another stylesheet */

.ie8 #wdn_copyright {
    border-color: #002f4e;
    background: black;
    box-shadow: 0px 3px 5px #0f0f0f;
    text-shadow: none;
    filter:none;
}
.ie8 #wdn_copyright a:hover {
    color: #b3b3b3;
    text-decoration: none;
}
.ie8 #wdn_copyright #wdn_logos {
    width: 100px;
}
.ie8 #wdn_copyright #wdn_logos #unl_wordmark {
    border: none;
    padding: 0;
    margin: 0;
}
.ie8 #wdn_copyright #wdn_logos #cic_wordmark,
.ie8 #wdn_copyright #wdn_logos #b1g_wordmark {
    display: none;
}

html.ie8 > body {
    background: #005288;
}
.ie8 #header #logo {
    background-image: url('//buros-apps.unl.edu/templates/html/css/images/buros_logo_black.png');
}
.ie8 #navigation {
    background: #fff;
}
.ie8 #navigation > ul > li.empty:hover a {
    background: #005a95;
    background: -ms-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: linear-gradient(top, #005a95 0%, #00436f 100%);
}
.ie8 #navigation > ul > li > a {
    text-shadow: 1px 1px 1px #424242;
    border-right-color: #00436f;
    border-left-color: #005a95;
    background: #005a95;
    background: -ms-linear-gradient(top, #005a95 0%, #00436f 100%);
    background: linear-gradient(top, #005a95 0%, #00436f 100%);
}
.ie8 #navigation > ul > li > a:hover {
    background: #0069ae;
    background: -ms-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: linear-gradient(top, #0069ae 0%, #005288 100%);
}
.ie8 #navigation > ul > li:hover > a {
    background: #0069ae;
    background: -ms-linear-gradient(top, #0069ae 0%, #005288 100%);
    background: linear-gradient(top, #0069ae 0%, #005288 100%);
}

html.ie8 > body {
    background-image: url('//buros-apps.unl.edu/templates/html/css/images/background.png');
}
.ie8 #header {
    min-height: 85px;
    padding-bottom: 0;
}
.ie8 #header #logo {
    background-size: auto auto;
}
.ie8 #wdn_navigation_wrapper {
    margin-top: 0;
}
.ie8 #wdn_copyright {
    border-color: #002f4e;
    box-shadow: 0px 3px 5px #0f0f0f;
    text-shadow: none;
    background-color: black;
}
.ie8 #wdn_copyright a:hover {
    color: #b3b3b3;
    text-decoration: none;
}
.ie8 #wdn_copyright #wdn_logos {
    width: 100px;
}
.ie8 #wdn_copyright #wdn_logos #unl_wordmark {
    border: none;
    padding: 0;
    margin: 0;
}
.ie8 #wdn_copyright #wdn_logos #cic_wordmark,
.ie8 #wdn_copyright #wdn_logos #b1g_wordmark {
    display: none;
}

/*** END FROM CMS ***/


#footer_floater, 
#wdn_copyright #wdn_logos,
#footer .footer_sep {
    display: none;
}

#header #logo {
	width: 30%;
}

#header #wdn_site_title {
	display: block;
	margin: 4px 0 0;
	color: #fff;
}

.subnav ul.toplinks > li.menu.over {
	background: #005288;
}

@media (min-width: 768px) {
	#header #logo {
	    width: 184px;
	}
	
	#header #wdn_site_title {
	    margin: 0;
	    color: #535353;
	}
	
	#breadcrumbs {
	    display: block;
	}
	
	/* multi-bar nav */
	#navigation > ul > li:nth-child(n+7) {
        border-top: 1px solid #0063A0;
        box-shadow: 0 -1px 0 #00446E;
	}
}

@media (min-width: 1040px) {
    #header #logo {
        width:98%;
    }
	#header #wdn_site_title {
	    position: absolute;
	    margin:0;
	    top: -10px;
	    left: 220px;
	}
}

.ie8 #header #logo {
        width:98%;
    }
.ie8 #header #wdn_site_title {
    position: absolute;
    margin:0;
    top: -10px;
    left: 220px;
}

/** Marketplace Overrides **/
body.popup #wdn_content_wrapper {
	border-color: #005288
}

button.button > span {
	border-color: #00446E;
	background: #005288; /* Old browsers */
	background: -moz-linear-gradient(top, #005288 0%, #003e64 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005288), color-stop(100%,#003e64)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #005288 0%,#003e64 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #005288 0%,#003e64 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #005288 0%,#003e64 100%); /* IE10+ */
	background: linear-gradient(to bottom, #005288 0%,#003e64 100%); /* W3C */
}
button.btn-checkout > span {
	border-color: #60A642;
	background: #76cc52; /* Old browsers */
	background: -moz-linear-gradient(top, #76cc52 0%, #60a642 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76cc52), color-stop(100%,#60a642)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #76cc52 0%,#60a642 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #76cc52 0%,#60a642 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #76cc52 0%,#60a642 100%); /* IE10+ */
	background: linear-gradient(to bottom, #76cc52 0%,#60a642 100%); /* W3C */
}

.regular-price .price,
.old-price .price,
.special-price .price {
	color: #008A17;
}

.mini-products-list .product-details {
	margin-left: 0;
}

.cart-table .btn-continue > span {
	color: #005288;
}
.cart-table .btn-continue:active > span {
	color: #0d0d0d;
}
.cart .totals tfoot th strong, .cart .totals tfoot td strong {
	color: #008A17;
}

.product-view .product-shop {
	float: none;
	width: auto;
}

.product-view .product-img-box {
	display: none;
}

#footer .opfooter a, #footer .opfooter a:link, #footer .opfooter a:visited {
	color: #fff;
}
#footer .opfooter a:hover {
	color: #b3b3b3;
	text-decoration: none;
}
