<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Comm>
            <version>0.2.1</version>
        </Unl_Comm>
    </modules>
    
    <global>
        <blocks>
            <unl_comm>
                <class>Unl_Comm_Block</class>
            </unl_comm>
        </blocks>
        <helpers>
            <unl_comm>
                <class>Unl_Comm_Helper</class>
            </unl_comm>
        </helpers>
        <models>
            <unl_comm>
                <class>Unl_Comm_Model</class>
                <resourceModel>unl_comm_resource</resourceModel>
            </unl_comm>
            <unl_comm_resource>
            	<class>Unl_Comm_Model_Resource</class>
            	<entities>
            		<queue>
            			<table>comm_queue</table>
            		</queue>
            		<queue_link>
            			<table>comm_queue_link</table>
            		</queue_link>
            	</entities>
            </unl_comm_resource>
        </models>
        <resources>
            <unl_comm_setup>
                <setup>
                    <module>Unl_Comm</module>
                    <class>Unl_Comm_Model_Resource_Setup</class>
                </setup>
            </unl_comm_setup>
        </resources>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Unl_Comm before="Mage_Adminhtml">Unl_Comm</Unl_Comm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
    	<events>
    	    <adminhtml_block_html_before>
    			<observers>
                    <comm_correct_admin>
                        <type>singleton</type>
                        <class>unl_comm/observer</class>
                        <method>correctAdminBlocks</method>
                    </comm_correct_admin>
                </observers>
    	    </adminhtml_block_html_before>
    	</events>
        
        <layout>
            <updates>
                <unl_comm module="Unl_Comm">
                    <file>unl_comm.xml</file>
                </unl_comm>
            </updates>
        </layout>
        
        <unl_adminlog>
            <log_events>
                <adminhtml_customer_queue translate="label">
                    <label>Customer Communication Queue</label>
                    <utility_actions>
                        <cancel />
                        <pause />
                        <resume />
                        <sending />
                        <start />
                    </utility_actions>
                    <view_actions>
                        <preview />
                    </view_actions>
                </adminhtml_customer_queue>
            </log_events>
        </unl_adminlog>
    </adminhtml>
    
    <default>
        <communication>
            <queue>
                <count>3</count>
                <message_count>20</message_count>
            </queue>
        </communication>
    </default>
    
    <crontab>
    	<jobs>
    		<communication_send_all>
    			<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
    			<run><model>unl_comm/observer::scheduledSend</model></run>
    		</communication_send_all>
    	</jobs>
    </crontab>
</config>
