<!--@subject Smart Site Storefront: New Order # {{var order.increment_id}} @-->

<style>
 td {color:#494949; font-size: 12px; line-height: 140%; font-family: 'Lucida Grande',Verdana,Arial;}
</style>

<div>
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="600">
            <tr>
                <td valign="top"><a href="{{store url=''}}" style="outline:none;display:block;height:126px;"><img src="http://www.unl.edu/wdn/templates_3.0/images/email/header.png" alt="The University of Nebraska-Lincoln" width="600" height="126" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="600">
            <tr>
            	<td width="12" bgcolor="#E0E0E0">&nbsp;</td>
                <td width="10">&nbsp;</td>
                <td align="left" valign="top" width="556">
                	<table cellspacing="0" cellpadding="0" border="0">
                    	<tr>
                        	<td style="color:#494949; font-size: 12px; line-height: 140%; font-family: 'Lucida Grande',Verdana,Arial;">
                              <h1 style="color:#BA0000;font-family:arial;text-decoration:none;font-size:1.6em;line-height:1;font-weight:bold;margin-bottom:1em;">Smart Site Storefront: New Order #{{var order.increment_id}}</h1>
                                <p><strong>Hello {{htmlescape var=$order.getBillingAddress().getName()}}</strong>:</p>
                                <p>
                                    Thank you for your order from the SmartSite Storefront.
                                    Once your package ships we will send an email with a link to track your order.
                                    If you have any questions about your order please contact us at <a href="mailto:storefront@unl.edu" style="color:#ba0000;">storefront@unl.edu</a> or call us at <span class="nobr">(402) 472-9964</span> Monday - Friday, 9am - 5pm CST.
                                </p>
                                <p>Your order confirmation is below. Thank you again for your business.</p>
            
                                <h3 style="border-bottom:2px solid #eee;color:#494949;font-size:1.05em;padding-bottom:1px;">Your Order #{{var order.increment_id}} <small>(placed on {{var order.getCreatedAtFormated('long')}})</small></h3>
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th align="left" width="48%" bgcolor="#ba0000" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em; color:#FFF; font-size:12px; font-family: Helvetica,Arial,sans-serif;">Billing Information:</th>
                                        <th width="2%"></th>
                                        <th align="left" width="48%" bgcolor="#ba0000" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em; color:#FFF; font-size:12px; font-family:Helvetica,Arial,sans-serif;">Payment Method:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.getBillingAddress().format('html')}}
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var payment_html}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br/>
                                {{depend order.getIsNotVirtual()}}
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th align="left" width="48%" bgcolor="#ba0000" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none;line-height:1em;color:#fff;font-size:12px;font-family:Helvetica,Arial,sans-serif;">Shipping Information:</th>
                                        <th width="2%"></th>
                                        <th align="left" width="48%" bgcolor="#ba0000" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none;line-height:1em;color:#fff;font-size:12px;font-family:Helvetica,Arial,sans-serif;">Shipping Method:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.getShippingAddress().format('html')}}
                                            &nbsp;
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.getShippingDescription()}}
                                            &nbsp;
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br/>
                                {{/depend}}
                                {{layout handle="sales_email_order_items" order=$order}}
                                <br/>
                                {{var order.getEmailCustomerNote()}}
                                <p>Thank you again,</p>
                                <p>&nbsp;</p>
                                <p><strong>Smart Site Storefront</strong></p>
                            </td>
                        </tr>
                        <tr background="http://www.unl.edu/wdn/templates_3.0/images/email/insideFooter.png" style="background-image: url(http://www.unl.edu/wdn/templates_3.0/images/email/insideFooter.png)">
                        	<td style="color:#606060;font-size:10px;line-height:1.4em;padding:12px;font-family:'Lucida Grande',Verdana,Arial;min-height:42px;">
                            	<!--  This the footer -->
                                <p style="margin-top:95px;"><img src="http://www.unl.edu/wdn/templates_3.0/images/email/wordmark.png" alt="" width="90" height="37" align="right" />&copy; 2010 University Communications | 1520 R Street, Lincoln, NE 68501 | 402-472-9964</p>
                            </td>
                        </tr>
                    </table>
                </td>
              <td width="10"></td>
                <td width="12" bgcolor="#E0E0E0"></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" width="600">
            <tr>
            	<td><img src="http://www.unl.edu/wdn/templates_3.0/images/email/footer.png" alt="The University of Nebraska-Lincoln" width="600" height="22" /></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
