/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
/* ======================================================================================= */

/* Form Elements */
p.control input.checkbox,
p.control input.radio { margin-right:6px; }

/* Form lists */
/* Grouped fields */
.form-list li {  }
.form-list label { position:relative; z-index:0; }
.form-list .required {}
.form-list .required em { font-style:normal; color:#d20000; position:absolute; bottom:0; right:-1em; }
.form-list li.control { position:relative }
.form-list li.control label { float:none; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { /*margin-right:6px;*/ }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }
.form-list .fields { margin: 0 -11px; /*clear:left;*/ }
.form-list .fields:after { clear: both; content: ""; display: table; }
.form-list .input-box { display:block; clear:both; }
.form-list .field { float:left; width:100%; padding: 0 11px; }
.form-list input.input-text { }
.form-list textarea { height:10em; }
.form-list select { -webkit-appearance:none; }
.form-list li.wide  { clear:left; }
.form-list li.wide .input-box { }
.form-list li.wide input.input-text { }
.form-list li.wide textarea { }
.form-list li.wide select { }
.form-list li.additional-row { border-top:1px solid #ccc; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove { float:right; margin:5px 0 0; }
.form-list .input-range input.input-text { width:74px; }
.form-list .input-group { display: table; }
.form-list .input-group .input-text { margin:0; display: table-cell; border-radius:0; }
.form-list .input-group .input-group-addon { display:table-cell; width:1%; vertical-align:middle; white-space:nowrap; background:#DBDAC8; padding:0.75em  }
.form-list .input-group .input-group-btn { display: table-cell; width: 1%; vertical-align: middle; white-space:nowrap; }
.form-list .input-group .input-group-btn button { border-radius:0; margin: 0; border-color: #dbdac8; border-style: solid; border-width: 1px 0; background-clip: padding-box; padding: 2em 1.333em; }
.form-list .input-group .input-group-btn :last-child { border-width: 1px 1px 1px 0; }
.form-list .input-group :first-child { border-top-left-radius:3px; border-bottom-left-radius:3px; }
.form-list .input-group :last-child,
.form-list .input-group :last-child button { border-top-right-radius:3px; border-bottom-right-radius:3px; }

@media (min-width: 768px) {
	.form-list .field { width: 50%; }
    .form-list .input-group .input-group-btn button { padding: 1.5833em 1.333em; }
}

.buttons-set { text-align:right; }
.buttons-set p.required {}
.buttons-set .back-link { float:left; margin:0; }
.buttons-set button.button {}

.fieldset {}
.fieldset .legend {}

/* Form Validation */
.validation-advice { clear:both; min-height:13px; margin:3px 0 0; padding-left:17px; font-size:11px; font-weight:bold; line-height:13px; background:url(../images/validation_advice_bg.gif) 2px 0 no-repeat; color:#eb340a; }
.validation-failed { border:1px dashed #eb340a !important; background:#faebe7 !important; }
.validation-passed {}
p.required { font-size:11px; text-align:right; color:#d20000; }

/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }
.trace { width:940px; overflow:auto; min-height:250px; }

.messages,
.messages ul { list-style:none !important; padding: 0; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:24px !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; background-image:url(../images/i_msg-error.gif); color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; background-image:url(../images/i_msg-success.gif); color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; background-image:url(../images/i_msg-note.gif); color:#3d6611; }

.mrkp-maint-band { background-color:#fff; }
