<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Inventory>
            <version>0.2.0</version>
        </Unl_Inventory>
    </modules>
    
    <admin>
    	<routers>
    		<adminhtml>
    			<args>
                    <modules>
                        <Unl_Inventory before="Mage_Adminhtml">Unl_Inventory</Unl_Inventory>
                    </modules>
    			</args>
    		</adminhtml>
    	</routers>
    </admin>
    
    <global>
    	<helpers>
            <unl_inventory>
               <class>Unl_Inventory_Helper</class>
            </unl_inventory>
        </helpers>
    
        <models>
        	<unl_inventory>
                <class>Unl_Inventory_Model</class>
                <resourceModel>unl_inventory_resource</resourceModel>
            </unl_inventory>
            <unl_inventory_resource>
                <class>Unl_Inventory_Model_Resource</class>
                <entities>
                    <audit>
                        <table>unl_inventory_audit</table>
                    </audit>
                    <index>
                        <table>unl_inventory_index</table>
                    </index>
                    <index_tmp>
                        <table>unl_inventory_index_tmp</table>
                    </index_tmp>
                    <index_idx>
                        <table>unl_inventory_index_idx</table>
                    </index_idx>
                </entities>
            </unl_inventory_resource>
        </models>
        
        <resources>
        	<unl_inventory_setup>
        		<setup>
	               <module>Unl_Inventory</module>
	               <class>Unl_Inventory_Model_Resource_Setup</class>
	            </setup>
        	</unl_inventory_setup>
        </resources>
        
        <blocks>
        	<unl_inventory>
                <class>Unl_Inventory_Block</class>
            </unl_inventory>
        </blocks>
        
        <events>
            <catalog_product_save_before>
                <observers>
                    <unl_audit_inventory>
                        <class>unl_inventory/observer</class>
                        <method>onBeforeProductSave</method>
                    </unl_audit_inventory>
                </observers>
            </catalog_product_save_before>
            
            <sales_model_service_order_prepare_invoice>
                <observers>
                    <unl_audit_inventory>
                        <class>unl_inventory/observer</class>
                        <method>onPrepareInvoice</method>
                    </unl_audit_inventory>
                </observers>
            </sales_model_service_order_prepare_invoice>
            
            <sales_order_invoice_cancel>
                <observers>
                    <unl_audit_inventory>
                        <class>unl_inventory/observer</class>
                        <method>onCancelInvoice</method>
                    </unl_audit_inventory>
                </observers>
            </sales_order_invoice_cancel>
            
            <sales_order_invoice_save_after>
                <observers>
                    <unl_audit_inventory>
                        <class>unl_inventory/observer</class>
                        <method>onAfterSaveInvoice</method>
                    </unl_audit_inventory>
                </observers>
            </sales_order_invoice_save_after>
            
            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <unl_audit_inventory>
                        <type>singleton</type>
                        <class>unl_inventory/observer</class>
                        <method>onBeforeCreditmemoRegistry</method>
                    </unl_audit_inventory>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>
            
            <sales_order_creditmemo_save_after>
                <observers>
                    <unl_audit_inventory>
                        <type>singleton</type>
                        <class>unl_inventory/observer</class>
                        <method>onAfterSaveCreditmemo</method>
                    </unl_audit_inventory>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    
    <adminhtml>
        <events>
            <admin_system_config_changed_section_cataloginventory>
                <observers>
                    <!-- Disable and forward this event locally -->
                    <inventory>
                        <type>disabled</type>
                    </inventory>
                    <unl_audit_inventory>
                        <class>unl_inventory/observer</class>
                        <method>onInventoryConfigChange</method>
                    </unl_audit_inventory>
                </observers>
            </admin_system_config_changed_section_cataloginventory>
        
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <check_inventory_config>
                        <class>unl_inventory/observer</class>
                        <method>onPredispatchSaveConfig</method>
                    </check_inventory_config>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            
            <unl_inventory_controller_product_init>
                <observers>
                    <product_auth>
                        <class>unl_inventory/admin_observer</class>
                        <method>onInventoryProductInit</method>
                    </product_auth>
                </observers>
            </unl_inventory_controller_product_init>
        </events>
        
        <layout>
            <updates>
                <unl_inventory module="Unl_Inventory">
                    <file>unl_inventory.xml</file>
                </unl_inventory>
            </updates>
        </layout>
        
        <unl_adminlog>
            <log_events>
                <unl_inventory_index translate="label">
                    <label>Catalog Product Inventory</label>
                </unl_inventory_index>
                <unl_inventory_report translate="label">
                    <label>Reporting: Inventory</label>
                    <view_actions>
                        <valuation />
                    </view_actions>
                </unl_inventory_report>
            </log_events>
        </unl_adminlog>
    </adminhtml>
    
    <default>
        <cataloginventory>
            <options>
                <accounting>2</accounting>
            </options>
        </cataloginventory>
    </default>
</config>
