<?xml version="1.0"?>
<config>
    <modules>
        <Unl_TestModule>
            <version>0.1.0</version>
        </Unl_TestModule>
    </modules>
    
    <global>
        <rewrite>
            <unl_tester>
                <from><![CDATA[#^/admin/tester/#]]></from>
                <to>/tester/</to>
            </unl_tester>
        </rewrite>
        <blocks>
            <unl_tester>
                <class>Unl_TestModule_Block</class>
            </unl_tester>
        </blocks>
    </global>
        
    <admin>
        <routers>
            <unl_tester>
                <use>admin</use>
                <args>
                    <module>Unl_TestModule</module>
                    <frontName>tester</frontName>
                </args>
            </unl_tester>
        </routers>
    </admin>
</config>