<?xml version="1.0"?>
<config>
    <modules>
        <Unl_CustomerTag>
            <version>0.1.0</version>
        </Unl_CustomerTag>
    </modules>
    
    <admin>
    	<routers>
    		<unl_customertag>
    			<use>admin</use>
    			<args>
    				<module>Unl_CustomerTag</module>
    				<frontName>unlcusttag</frontName>
    			</args>
    		</unl_customertag>
    	</routers>
    </admin>
    
    <global>
    	<helpers>
            <unl_customertag>
               <class>Unl_CustomerTag_Helper</class>
            </unl_customertag>
        </helpers>
    
        <models>
        	<unl_customertag>
                <class>Unl_CustomerTag_Model</class>
                <resourceModel>unl_customertag_mysql4</resourceModel>
            </unl_customertag>
            <unl_customertag_entity_customer>
                <class>Unl_CustomerTag_Model_Entity_Customer</class>
            </unl_customertag_entity_customer>
            <unl_customertag_mysql4>
                <class>Unl_CustomerTag_Model_Mysql4</class>
                <entities>
                    <tag>
                        <table>customer_tag</table>
                    </tag>
                    <link>
                        <table>customer_tag_link</table>
                    </link>
                    <product_link>
                        <table>customer_tag_product_link</table>
                    </product_link>
                    <category_link>
                        <table>customer_tag_category_link</table>
                    </category_link>
                </entities>
            </unl_customertag_mysql4>
        </models>
        
        <resources>
        	<unl_customertag_setup>
        		<setup>
	               <module>Unl_CustomerTag</module>
	               <class>Mage_Core_Model_Resource_Setup</class>
	            </setup>
        	</unl_customertag_setup>
        </resources>
        
        <blocks>
        	<unl_customertag>
                <class>Unl_CustomerTag_Block</class>
            </unl_customertag>
            
            <catalog>
                <rewrite>
                    <navigation>Unl_CustomerTag_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>

        <events>
            <unl_product_acl_check>
                <observers>
                    <tag_acl_check>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>isCustomerAllowedProduct</method>
                    </tag_acl_check>
                </observers>
            </unl_product_acl_check>
            
            <unl_category_acl_check>
                <observers>
                    <tag_acl_check>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>isCustomerAllowedCategory</method>
                    </tag_acl_check>
                </observers>
            </unl_category_acl_check>
        </events>
    </global>
    
    <adminhtml>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <access_tab_append>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>prepareCategoryTabs</method>
                    </access_tab_append>
                </observers>
            </adminhtml_catalog_category_tabs>
            
            <catalog_category_prepare_save>
                <observers>
                    <save_customertags>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>onCategoryPrepareSave</method>
                    </save_customertags>
                </observers>
            </catalog_category_prepare_save>
            <catalog_category_save_after>
                <observers>
                    <save_customertags>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>onAfterCategorySave</method>
                    </save_customertags>
                </observers>
            </catalog_category_save_after>
            
            <catalog_product_prepare_save>
                <observers>
                    <save_customertags>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>onProductPrepareSave</method>
                    </save_customertags>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <save_customertags>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>onAfterProductSave</method>
                    </save_customertags>
                </observers>
            </catalog_product_save_after>
        
            <core_block_abstract_to_html_before>
                <observers>
                    <customertag_correct_admin>
                        <type>singleton</type>
                        <class>unl_customertag/observer</class>
                        <method>onBlockBeforeToHtml</method>
                    </customertag_correct_admin>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
</config>
