<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Payment>
            <version>0.2.0</version>
        </Unl_Payment>
    </modules>
    
    <global>
        <blocks>
            <unl_payment>
                <class>Unl_Payment_Block</class>
            </unl_payment>
        </blocks>
        <helpers>
            <unl_payment>
                <class>Unl_Payment_Helper</class>
            </unl_payment>
        </helpers>
        <models>
            <unl_payment>
                <class>Unl_Payment_Model</class>
                <resourceModel>unl_payment_resource</resourceModel>
            </unl_payment>
            <unl_payment_resource>
                <class>Unl_Payment_Model_Resource</class>
                <entities>
                    <account>
                        <table>unl_payment_account</table>
                    </account>
                </entities>
            </unl_payment_resource>
        </models>
        
        <resources>
            <unl_payment_setup>
                <setup>
                    <module>Unl_Payment</module>
                    <class>Unl_Payment_Model_Resource_Setup</class>
                </setup>
            </unl_payment_setup>
        </resources>
        
        <fieldsets>
            <sales_convert_quote_item>
                <unl_payment_account><to_order_item>*</to_order_item></unl_payment_account>
            </sales_convert_quote_item>
        </fieldsets>
        
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <unl_payment_account/>
                    </product_attributes>
                    <set_product_attributes>
                        <unl_payment_account/>
                    </set_product_attributes>
                </item>
            </quote>
        </sales>

    </global>
    
    <adminhtml>
        <unl_adminlog>
            <log_events>
                <adminhtml_catalog_account translate="label">
                    <label>Payment Accounts</label>
                    <view_actions>
                        <unassigned />
                    </view_actions>
                </adminhtml_catalog_account>
            </log_events>
        </unl_adminlog>
        
        <events>
            <adminhtml_grid_prepare_columns>
                <observers>
                    <payment_correct_admin>
                        <class>unl_payment/observer</class>
                        <method>onPrepareGrid</method>
                    </payment_correct_admin>
                </observers>
            </adminhtml_grid_prepare_columns>
        </events>
        
        <layout>
            <updates>
                <unl_payment module="Unl_Payment">
                    <file>unl_payment.xml</file>
                </unl_payment>
            </updates>
        </layout>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Unl_Payment before="Mage_Adminhtml">Unl_Payment</Unl_Payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
