.subnav,
.pager,
.toolbar,
.actions,
.buttons-set { display:none !important; }

.page-print .data-table .cart-tax-total { background-position:100% -54px; }
.page-print .data-table .cart-tax-info,
.product-collateral h2,
.print-only { display:block !important; }
