<?xml version="1.0"?>
<!-- 
/**
 * Zenprint
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@zenprint.com so we can send you a copy immediately.
 *
 * @copyright  Copyright (c) 2009 ZenPrint (http://www.zenprint.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Zenprint_Ordership>
            <version>0.1.0</version>
            <depends>
            	<Mage_Usa />
                <Mage_Sales />
                <Mage_Shipping />
                <Zenprint_Xajax />
            </depends>
        </Zenprint_Ordership>
    </modules>
    
    <admin>
    	<secure_url>
    		<ordership>/ordership</ordership>
    	</secure_url>
    	<routers>
    		<ordership>
    			<use>admin</use>
    			<args>
    				<module>Zenprint_Ordership</module>
    				<frontName>ordership</frontName>
    			</args>
    		</ordership>
    	</routers>
    </admin>
    
    <global>
    	<helpers>
            <ordership>
               <class>Zenprint_Ordership_Helper</class>
            </ordership>
        </helpers>
    
        <models>
            <usa>
            	<rewrite>
            		<shipping_carrier_fedex>Zenprint_Ordership_Model_Shipping_Carrier_Fedex</shipping_carrier_fedex>
            		<shipping_carrier_fedex_source_unitofdimension>Zenprint_Ordership_Model_Shipping_Carrier_Fedex_Source_Unitofdimension</shipping_carrier_fedex_source_unitofdimension>
            		<shipping_carrier_ups>Zenprint_Ordership_Model_Shipping_Carrier_Ups</shipping_carrier_ups>
            		<shipping_carrier_ups_source_unitofdimension>Zenprint_Ordership_Model_Shipping_Carrier_Ups_Source_Unitofdimension</shipping_carrier_ups_source_unitofdimension>
            		<shipping_carrier_xmlship_interface>Zenprint_Ordership_Model_Shipping_Carrier_Xmlship_Interface</shipping_carrier_xmlship_interface>
            	</rewrite>
            </usa>
            <shipping>
        		<rewrite>
        			<shipment_package>Zenprint_Ordership_Model_Shipment_Package</shipment_package>
        			<shipment_result_abstract>Zenprint_Ordership_Model_Shipment_Result_Abstract</shipment_result_abstract>
        			<shipment_confirmation>Zenprint_Ordership_Model_Shipment_Confirmation</shipment_confirmation>
        			<shipment_request>Zenprint_Ordership_Model_Shipment_Request</shipment_request>
        		</rewrite>
        	</shipping>
        	<shipping_mysql4>
        		<entities>
        			<shipment_package>
        				<table>shipping_shipment_package</table>
        			</shipment_package>
        		</entities>
        		<rewrite>
        			<shipment_package>Zenprint_Ordership_Model_Mysql4_Shipment_Package</shipment_package>
        			<shipment_package_collection>Zenprint_Ordership_Model_Mysql4_Shipment_Package_Collection</shipment_package_collection>
        		</rewrite>
        	</shipping_mysql4>
        </models>
        
        <resources>
        	<ordership_setup>
        		<setup>
	               <module>Zenprint_Ordership</module>
	            </setup>
	            <connection>
	               <use>core_setup</use>
	            </connection>
        	</ordership_setup>
        </resources>
        
        <blocks>
        	<adminhtml>
          		<rewrite>
          			<ordership>Zenprint_Ordership_Block_Adminhtml_Ordership</ordership>
          			<ordership_containers>Zenprint_Ordership_Block_Adminhtml_Ordership_Containers</ordership_containers>
          			<sales_order>Zenprint_Ordership_Block_Adminhtml_Sales_Order</sales_order>
          			<sales_order_view>Zenprint_Ordership_Block_Adminhtml_Sales_Order_View</sales_order_view>
          		</rewrite>
          	</adminhtml>
        </blocks>
        
    </global>
    
    <default>
        <carriers>
            <fedex>
                <password backend_model="adminhtml/system_config_backend_encrypted"></password>
                <key backend_model="adminhtml/system_config_backend_encrypted"></key>
                <meter backend_model="adminhtml/system_config_backend_encrypted"></meter>
                <third_party_fedex_account backend_model="adminhtml/system_config_backend_encrypted"></third_party_fedex_account>
            </fedex>

            <ups>
                <ups_account_number backend_model="adminhtml/system_config_backend_encrypted"/>
                <gateway_xml_url>https://onlinetools.ups.com/ups.app/xml/Rate</gateway_xml_url>
                <third_party>0</third_party>
                <third_party_country>US</third_party_country>
                <third_party_ups_account_number backend_model="adminhtml/system_config_backend_encrypted"/>
            </ups>
        </carriers>
    </default>
</config>
