<!--@subject {{var store.getFrontendName()}}: Shipment #{{var shipment.increment_id}} for Order #{{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->
<!--@styles

@-->

{{block type='core/template' area='frontend' template='email/common/header.phtml'}}
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="line-height: normal;">
  <tr>
       <td bgcolor="#F8F5EC" style="padding: 50px 15px 50px 15px;" class="section-padding">
             <table align="center" border="0" cellpadding="0" cellspacing="0" width="620" class="responsive-table">
                  <tr>
                       <td valign="middle">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                     <td align="left" valign="top">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                               <tr>
                                                    <td align="left" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #cc0000; padding-bottom:20px;">Hello {{htmlescape var=$order.getCustomerName()}},</td>
                                               </tr>
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350;">Thank you for shopping with us.
                                                    We thought you'd like to know that we shipped your items
                                                    {{block type='core/template' area='frontend' template='email/order/shipment/state.phtml' order=$order}}
                                                    Your order is on its way and can no longer be changed.
                                                    If you would like to review your order, please visit <a href="{{store url='sales/order/history'}}" style="text-decoration: none; border-bottom: 1px dotted #cc0000; color: #cc0000;">Your Orders</a> on <a href="{{store url='' _store='default'}}" style="text-decoration: none; border-bottom: 1px dotted #cc0000; color: #cc0000;">UNL Marketplace</a>.
                                                    If you need to return an item from this shipment 
                                                    or have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color: #cc0000; text-decoration: none; border-bottom: 1px dotted #cc0000;">{{config path='trans_email/ident_support/email'}}</a>
                                                    or call us at {{config path='general/store_information/phone'}} Monday - Friday, 9am - 5pm CST.</td>
                                               </tr>
                                          </table>
                                     </td>
                                 </tr>
                            </table>
                       </td>
                  </tr>
             </table>
       </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="line-height: normal;">
  <tr>
       <td bgcolor="#E7E2D6" style="padding: 50px 15px 50px 15px;" class="section-padding">
             <table align="center" border="0" cellpadding="0" cellspacing="0" width="620" class="responsive-table">
                  <tr>
                       <td valign="middle">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                     <td align="left" valign="top">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                               <tr>
                                                    <td style="font-size: 25px; line-height: 27px; font-family: Helvetica, Arial, sans-serif; color: #cc0000; border-bottom:1px solid #D5D0C1;">
                                                    Shipment Confirmation</td>
                                               </tr>
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350;">
                                                    Shipment #{{var shipment.increment_id}} for Order #{{var order.increment_id}}</td>
                                               </tr>
                                          </table>
                                     </td>
                                 </tr>
                            </table>
                       </td>
                  </tr>
                  <tr>
                      <td align="left" valign="top">
                        {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                      </td>
                 </tr>
             </table>
                 
             <table align="center" border="0" cellpadding="0" cellspacing="0" width="620" class="responsive-table">
                 <tr>
                      <td align="left" valign="top" style="padding: 20px 0px 20px 0px;">
                           <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#F6F5F0" style="padding: 20px 10px 20px 10px; border-top: 5px solid #D5D0C1;">
                                       <table width="48.4%" border="0" cellspacing="0" cellpadding="0" class="responsive-table" align="left">
                                            <tr>
                                                <td align="left" valign="middle">
                                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                           <tr>
                                                                <td align="left" style="font-size: 16px; font-family: Georgia, serif; font-weight: normal; color: #4A3B13; padding-bottom: 0px !important;" class="padding">Your shipping service:</td>
                                                           </tr>
                                                           <tr>
                                                                <td align="left" style="font-size: 16px; line-height: 24px; font-family: Georgia, serif; color: #545350; font-weight: bold;" class="padding">
                                                                    {{var order.getShippingDescription()}}
                                                                    {{block type='core/template' area='frontend' template='email/order/shipment/pickup.phtml' order=$order}}
                                                                    {{block type='core/template' area='frontend' template='email/order/shipment/deliverydate.phtml' order=$order}}
                                                                </td>
                                                           </tr>
                                                      </table>
                                                 </td>
                                            </tr>
                                       </table>
                                       <table width="48.4%" border="0" cellspacing="0" cellpadding="0" class="responsive-table" align="right">
                                            <tr>          
                                                 <td align="left" valign="middle">
                                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                           <tr>
                                                                <td align="left" style="font-size: 16px; font-family: Georgia, serif; font-weight: normal; color: #4A3B13; padding-bottom: 0px !important;" class="padding">Your order was sent to:</td>
                                                           </tr>
                                                           <tr>
                                                                <td align="left" style="font-size: 16px; line-height: 24px; font-family: Georgia, serif; color: #545350; font-weight: bold;" class="padding">
                                                                    {{block type='core/template' area='frontend' template='email/order/shipping.phtml' order=$order}}
                                                                </td>
                                                           </tr>
                                                      </table>
                                                 </td>
                                            </tr>
                                        </table>
                                  </td>
                                </tr>
                           </table>
                      </td>
                 </tr>
             </table>
             
             <table align="center" border="0" cellpadding="0" cellspacing="0" width="620" class="responsive-table">    
                 <tr>
                       <td valign="middle">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                     <td align="left" valign="top">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350;">
                                                        {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
                                                    </td>
                                               </tr>
                                          </table>
                                     </td>
                                 </tr>
                            </table>
                       </td>
                  </tr>
             </table>
       </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="line-height: normal;">
  <tr>
       <td bgcolor="#F8F5EC" style="padding: 50px 15px 50px 15px;" class="section-padding">
             <table align="center" border="0" cellpadding="0" cellspacing="0" width="620" class="responsive-table">
                  <tr>
                       <td valign="middle">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                     <td align="left" valign="top">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350;">{{var comment}}</td>
                                               </tr>
                                               <tr>
                                                    <td style="font-size: 17px; line-height: 27px; font-family: Georgia, serif; color: #545350;">We hope to see you again soon!</td>
                                               </tr>
                                               <tr>
                                                    <td><a href="{{store url='' _store='default'}}" target="_blank" style="font-size: 20px; font-family: Georgia, serif; color: #cc0000; text-decoration: none; border-bottom: 1px dotted #cc0000;">UNL Marketplace</a></td>
                                               </tr>
                                          </table>
                                     </td>
                                 </tr>
                            </table>
                       </td>
                  </tr>
             </table>
       </td>
  </tr>
</table>
{{block type='core/template' area='frontend' template='email/common/footer.phtml'}}
