<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Ship>
            <version>0.2.0</version>
        </Unl_Ship>
    </modules>
    
    <admin>
    	<routers>
    		<adminhtml>
    			<args>
                    <modules>
                        <Unl_Ship before="Mage_Adminhtml">Unl_Ship</Unl_Ship>
                    </modules>
    			</args>
    		</adminhtml>
    	</routers>
    </admin>
    
    <global>
    	<helpers>
            <unl_ship>
               <class>Unl_Ship_Helper</class>
            </unl_ship>
        </helpers>
    
        <models>
        	<unl_ship>
                <class>Unl_Ship_Model</class>
                <resourceModel>unl_ship_resource</resourceModel>
            </unl_ship>
            <unl_ship_resource>
                <class>Unl_Ship_Model_Resource</class>
                <entities>
                    <shipment_package>
                        <table>unl_shipment_package</table>
                    </shipment_package>
                </entities>
            </unl_ship_resource>  
            <usa>
            	<rewrite>
            		<shipping_carrier_fedex>Unl_Ship_Model_Shipping_Carrier_Fedex</shipping_carrier_fedex>
            		<shipping_carrier_ups>Unl_Ship_Model_Shipping_Carrier_Ups</shipping_carrier_ups>
            	</rewrite>
            </usa>
        </models>
        
        <resources>
        	<unl_ship_setup>
        		<setup>
	               <module>Unl_Ship</module>
	               <class>Unl_Ship_Model_Resource_Setup</class>
	            </setup>
        	</unl_ship_setup>
        </resources>
        
        <blocks>
        	<unl_ship>
                <class>Unl_Ship_Block</class>
            </unl_ship>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_packaging>Unl_Ship_Block_Sales_Order_Shipment_Packaging</sales_order_shipment_packaging>
                </rewrite>
            </adminhtml>
        </blocks>
        
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <ships_separately/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        
    </global>
    
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ship_correct_admin>
                        <type>singleton</type>
                        <class>unl_ship/observer</class>
                        <method>correctAdminBlocks</method>
                    </ship_correct_admin>
                </observers>
            </adminhtml_block_html_before>
            
            <sales_order_shipment_save_after>
                <observers>
                    <unl_ship>
                        <class>unl_ship/observer</class>
                        <method>onAfterSalesOrderShipmentSave</method>
                    </unl_ship>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    
        <layout>
            <updates>
                <unl_ship module="Unl_Ship">
                    <file>unl_ship.xml</file>
                </unl_ship>
            </updates>
        </layout>
        
        <unl_adminlog>
            <log_events>
                <unl_ship_index translate="label">
                    <label>Sales Shipping Labels</label>
                    <view_actions>
                        <customs />
                        <highvalue />
                        <label />
                        <labelpdf />
                    </view_actions>
                    <save_actions>
                        <create />
                    </save_actions>
                    <alt_params>
                        <order_id />
                    </alt_params>
                </unl_ship_index>
            </log_events>
        </unl_adminlog>
    </adminhtml>
    
    <default>
        <sales>
            <shipment_label>
                <use_unl>1</use_unl>
            </shipment_label>
        </sales>
        <carriers>
            <ups>
                <force_insurance_value>1000</force_insurance_value>
                <ship_request_option>nonvalidate</ship_request_option>
                <gateway_xml_url>https://onlinetools.ups.com/ups.app/xml/Rate</gateway_xml_url>
            </ups>
        </carriers>
    </default>
</config>
