<?xml version="1.0"?>
<config>
    <sections>
    	<shipping translate="label" module="shipping">
            <groups>
                <origin translate="label">
                    <fields>
                    	<attention translate="label">
                            <label>Shipper Attention</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </attention>
                        <address1 translate="label">
                            <label>Address 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </address1>
                        <address2 translate="label">
                            <label>Address 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </address2>
                        <address3 translate="label">
                            <label>Address 3</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </address3>
                        <phone translate="label">
                            <label>Phone</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </phone>
                    </fields>
                </origin>
            </groups>
        </shipping>
        
        <carriers>
            <groups>
                <fedex>
                    <fields>
                    	<active>
                            <sort_order>1</sort_order>
                        </active>
                        <title>
                            <sort_order>5</sort_order>
                        </title>
                        <sort_order>
                            <sort_order>10</sort_order>
                        </sort_order>
                        <debug>
                        	<sort_order>15</sort_order>
                        </debug>
                        
                        <heading_api translate="label">
                            <label>API/Integration</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_api>
                        <test_mode translate="label">
                            <label>Test Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </test_mode>
                        <account>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>110</sort_order>
                        </account>
                        <meter translate="label">
                            <label>Meter</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>111</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </meter>
                        <key translate="label">
                            <label>Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>122</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <gateway_url>
                            <sort_order>130</sort_order>
                        </gateway_url>
                        <third_party translate="label">
                            <label>Ship with Third Party Account</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </third_party>
                        <third_party_account translate="label">
                            <label>Third Party Account ID</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>141</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><third_party>1</third_party></depends>
                        </third_party_account>
                        <third_party_account_country translate="label">
                            <label>Third Party Account Country</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>countries2</frontend_class>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>142</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><third_party>1</third_party></depends>
                        </third_party_account_country>
                        
                        <heading_defaults translate="label">
                            <label>Units/Defaults</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_defaults>
                        <residence_delivery>
                            <sort_order>202</sort_order>
                        </residence_delivery>
                        <dropoff>
                            <sort_order>203</sort_order>
                        </dropoff>
                        <packaging>
                            <sort_order>204</sort_order>
                        </packaging>
                        <dimension_units translate="label">
                            <label>Dimension Units</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unl_ship/shipping_carrier_fedex_source_unitofdimension</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </dimension_units>
                        <default_height translate="label">
                            <label>Default Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>213</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </default_height>
                        <default_width translate="label">
                            <label>Default Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>212</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </default_width>
                        <default_length translate="label">
                            <label>Default Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>211</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </default_length>
                        <unit_of_measure translate="label">
                            <label>Weight Unit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unl_ship/shipping_carrier_fedex_source_unitofmeasure</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </unit_of_measure>
                        <min_package_weight>
                            <sort_order>221</sort_order>
                        </min_package_weight>
                        <max_package_weight>
                            <sort_order>222</sort_order>
                        </max_package_weight>
                        
                        <heading_options>
                        	<label>Options/Restrictions</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_options>
                        <allowed_methods>
                            <sort_order>301</sort_order>
                        </allowed_methods>
                        <showmethod>
                        	<sort_order>302</sort_order>
                        </showmethod>
                        <specificerrmsg>
                            <sort_order>303</sort_order>
                        </specificerrmsg>
                        <handling_type>
                            <sort_order>310</sort_order>
                        </handling_type>
                        <handling_action>
                            <sort_order>311</sort_order>
                        </handling_action>
                        <handling_fee>
                            <sort_order>312</sort_order>
                        </handling_fee>
                        <free_method>
                            <sort_order>320</sort_order>
                        </free_method>
                        <free_shipping_enable>
                            <sort_order>321</sort_order>
                        </free_shipping_enable>
                        <free_shipping_subtotal>
                            <sort_order>322</sort_order>
                            <depends><free_shipping_enable>1</free_shipping_enable></depends>
                        </free_shipping_subtotal>
                        <sallowspecific>
                            <sort_order>341</sort_order>
                        </sallowspecific>
                        <specificcountry>
                            <sort_order>342</sort_order>
                            <depends><sallowspecific>1</sallowspecific></depends>
                        </specificcountry>
                        
                    </fields>
                </fedex>
                <ups>
                    <fields>
                        <active>
                            <sort_order>1</sort_order>
                        </active>
                        <title>
                            <sort_order>5</sort_order>
                        </title>
                        <sort_order>
                            <sort_order>10</sort_order>
                        </sort_order>
                        <debug>
                        	<sort_order>15</sort_order>
                        </debug>
                        
                        <heading_api translate="label">
                            <label>API/Integration</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_api>
                        <type>
                            <sort_order>101</sort_order>
                        </type>
                        <mode_xml>
                        	<sort_order>105</sort_order>
                        </mode_xml>
                        <shipper_number>
                        	<sort_order>110</sort_order>
                        </shipper_number>
                        <negotiated_active>
                        	<sort_order>111</sort_order>
                        </negotiated_active>
                        <access_license_number>
                            <sort_order>120</sort_order>
                        </access_license_number>
                        <username>
                        	<sort_order>121</sort_order>
                        </username>
                        <password>
                            <sort_order>122</sort_order>
                        </password>
                        <gateway_url>
                            <sort_order>130</sort_order>
                        </gateway_url>
                        <gateway_xml_url>
                            <sort_order>130</sort_order>
                        </gateway_xml_url>
                        <tracking_xml_url>
                            <sort_order>131</sort_order>
                        </tracking_xml_url>
                        <shipping_xml_url translate="label">
                            <label>Shipping XML URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>132</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shipping_xml_url>
                        <third_party translate="label">
                            <label>Ship with Third Party Account</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </third_party>
                        <third_party_account_number translate="label">
                            <label>Third Party Account Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>141</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><third_party>1</third_party></depends>
                        </third_party_account_number>
                        <third_party_country translate="label">
                            <label>Third Party Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>142</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><third_party>1</third_party></depends>
                        </third_party_country>
                        <third_party_postcode translate="label">
                            <label>Third Party Postcode</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>143</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><third_party>1</third_party></depends>
                        </third_party_postcode>
                        
                        <heading_defaults translate="label">
                            <label>Units/Defaults</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_defaults>
                        <origin_shipment>
                            <sort_order>201</sort_order>
                        </origin_shipment>
                        <dest_type>
                            <sort_order>202</sort_order>
                        </dest_type>
                        <pickup>
                            <sort_order>203</sort_order>
                        </pickup>
                        <container>
                            <sort_order>204</sort_order>
                        </container>
                        <dimension_units translate="label">
                            <label>Dimension Units</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unl_ship/shipping_carrier_ups_source_unitofdimension</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </dimension_units>
                        <default_height translate="label">
                            <label>Default Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>213</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </default_height>
                        <default_width translate="label">
                            <label>Default Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>212</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </default_width>
                        <default_length translate="label">
                            <label>Default Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>211</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </default_length>
                        <unit_of_measure>
                            <sort_order>220</sort_order>
                        </unit_of_measure>
                        <min_package_weight>
                        	<sort_order>221</sort_order>
                        </min_package_weight>
                        <max_package_weight>
                            <sort_order>222</sort_order>
                        </max_package_weight>
                        
                        <heading_options>
                        	<label>Options/Restrictions</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_options>
                        <allowed_methods>
                            <sort_order>301</sort_order>
                        </allowed_methods>
                        <showmethod>
                        	<sort_order>302</sort_order>
                        </showmethod>
                        <specificerrmsg>
                            <sort_order>303</sort_order>
                        </specificerrmsg>
                        <handling_type>
                            <sort_order>310</sort_order>
                        </handling_type>
                        <handling_action>
                            <sort_order>311</sort_order>
                        </handling_action>
                        <handling_fee>
                            <sort_order>312</sort_order>
                        </handling_fee>
                        <free_method>
                            <sort_order>320</sort_order>
                        </free_method>
                        <free_shipping_enable>
                            <sort_order>321</sort_order>
                        </free_shipping_enable>
                        <free_shipping_subtotal>
                            <sort_order>322</sort_order>
                            <depends><free_shipping_enable>1</free_shipping_enable></depends>
                        </free_shipping_subtotal>
                        <sallowspecific>
                            <sort_order>341</sort_order>
                        </sallowspecific>
                        <specificcountry>
                            <sort_order>342</sort_order>
                            <depends><sallowspecific>1</sallowspecific></depends>
                        </specificcountry>
                        
                    </fields>
                </ups>
            </groups>
        </carriers>
    </sections>
</config>
