<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Core>
            <version>0.2.3</version>
        </Unl_Core>
    </modules>
    
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <!-- Plupload for uploads -->
                    <catalog_product_helper_form_gallery_content>Unl_Core_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                    <cms_wysiwyg_images_content_uploader>Unl_Core_Block_Adminhtml_Cms_Wysiwyg_Images_Content_Uploader</cms_wysiwyg_images_content_uploader>
                    <media_uploader>Unl_Core_Block_Adminhtml_Media_Uploader</media_uploader>
                    <!-- Adds scope filter -->
                    <catalog_category_tree>Unl_Core_Block_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                    <catalog_product_grid>Unl_Core_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_product_edit_tab_categories>Unl_Core_Block_Adminhtml_Catalog_Product_Edit_Tab_Categories</catalog_product_edit_tab_categories>
                    <cms_page_grid>Unl_Core_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
                    <!-- Adv Filter -->
                    <customer_grid>Unl_Core_Block_Adminhtml_Customer_Grid</customer_grid>
                    <!-- Customize the dashboard elements for scope -->
                    <dashboard_orders_grid>Unl_Core_Block_Adminhtml_Dashboard_Orders_Grid</dashboard_orders_grid>
                    <dashboard_sales>Unl_Core_Block_Adminhtml_Dashboard_Sales</dashboard_sales>
                    <dashboard_searches_top>Unl_Core_Block_Adminhtml_Dashboard_Searches_Top</dashboard_searches_top>
                    <dashboard_searches_last>Unl_Core_Block_Adminhtml_Dashboard_Searches_Last</dashboard_searches_last>
                    <dashboard_tab_customers_most>Unl_Core_Block_Adminhtml_Dashboard_Tab_Customers_Most</dashboard_tab_customers_most>
                    <dashboard_tab_products_ordered>Unl_Core_Block_Adminhtml_Dashboard_Tab_Products_Ordered</dashboard_tab_products_ordered>
                    <dashboard_tab_products_viewed>Unl_Core_Block_Adminhtml_Dashboard_Tab_Products_Viewed</dashboard_tab_products_viewed>
                    <dashboard_totals>Unl_Core_Block_Adminhtml_Dashboard_Totals</dashboard_totals>
                    <!-- Customizes the caching/fetching -->
                    <notification_security>Unl_Core_Block_Adminhtml_Notification_Security</notification_security>
                    <!-- Customize report grids -->
                    <report_product_downloads_grid>Unl_Core_Block_Adminhtml_Report_Product_Downloads_Grid</report_product_downloads_grid>
                    <report_product_lowstock_grid>Unl_Core_Block_Adminhtml_Report_Product_Lowstock_Grid</report_product_lowstock_grid>
                    <report_review_product_grid>Unl_Core_Block_Adminhtml_Report_Review_Product_Grid</report_review_product_grid>
                    <report_sales_sales_grid>Unl_Core_Block_Adminhtml_Report_Sales_Sales_Grid</report_sales_sales_grid>
                    <report_sales_tax_grid>Unl_Core_Block_Adminhtml_Report_Sales_Tax_Grid</report_sales_tax_grid>
                    <!-- Customize sales grids (scoped) -->
                    <sales_creditmemo_grid>Unl_Core_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
                    <sales_invoice_grid>Unl_Core_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
                    <sales_order_grid>Unl_Core_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_shipment_grid>Unl_Core_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                    <!-- Adds an ACL check to the Payment Method Form -->
                    <sales_order_create_billing_method_form>Unl_Core_Block_Adminhtml_Sales_Order_Create_Billing_Method_Form</sales_order_create_billing_method_form>
                    <!-- No empty optgroups -->
                    <widget_grid_column_filter_store>Unl_Core_Block_Adminhtml_Widget_Grid_Column_Filter_Store</widget_grid_column_filter_store>
                    <!-- Don't export the currency symbols -->
                    <widget_grid_column_renderer_currency>Unl_Core_Block_Adminhtml_Widget_Grid_Column_Renderer_Currency</widget_grid_column_renderer_currency>
                    <widget_grid_column_renderer_price>Unl_Core_Block_Adminhtml_Widget_Grid_Column_Renderer_Price</widget_grid_column_renderer_price>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <!-- Customizes the order/display of breadcrumbs -->
                    <breadcrumbs>Unl_Core_Block_Catalog_Breadcrumbs</breadcrumbs>
                    <!-- Customized layed navigation -->
                    <layer_view>Unl_Core_Block_Catalog_Layer_View</layer_view>
                    <product_gallery>Unl_Core_Block_Catalog_Product_Gallery</product_gallery>
                    <!-- Add text list mode -->
                    <product_list_toolbar>Unl_Core_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <downloadable>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_downloadable_links>Unl_Core_Block_Downloadable_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Links</adminhtml_catalog_product_edit_tab_downloadable_links>
                    <adminhtml_catalog_product_edit_tab_downloadable_samples>Unl_Core_Block_Downloadable_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Samples</adminhtml_catalog_product_edit_tab_downloadable_samples>
                </rewrite>
            </downloadable>
            <customer>
                <rewrite>
                    <address_renderer_default>Unl_Core_Block_Customer_Address_Renderer_Default</address_renderer_default>
                </rewrite>
            </customer>
            <giftmessage>
                <rewrite>
                    <!-- Display Gift Message interface in admin if possible -->
                    <adminhtml_sales_order_view_form>Unl_Core_Block_GiftMessage_Adminhtml_Sales_Order_View_Form</adminhtml_sales_order_view_form>
                    <adminhtml_sales_order_view_items>Unl_Core_Block_GiftMessage_Adminhtml_Sales_Order_View_Items</adminhtml_sales_order_view_items>
                </rewrite>
            </giftmessage>
            <googleanalytics>
                <rewrite>
                    <!-- Check config option to export GA lib -->
                    <ga>Unl_Core_Block_GoogleAnalytics_Ga</ga>
                </rewrite>
            </googleanalytics>
            <page>
                <rewrite>
                    <!-- Fix link sorting and removing -->
                    <template_links>Unl_Core_Block_Page_Template_Links</template_links>
                </rewrite>
            </page>
            <unl_core>
                <class>Unl_Core_Block</class>
            </unl_core>
        </blocks>
        <helpers>
            <adminhtml>
                <rewrite>
                    <!-- Allow Dashboard to show full user scope -->
                    <dashboard_order>Unl_Core_Helper_Adminhtml_Dashboard_Order</dashboard_order>
                </rewrite>
            </adminhtml>
            <backup>
                <rewrite>
                    <!-- Customize maintenance flag logic -->
                    <data>Unl_Core_Helper_Backup_Data</data>
                </rewrite>
            </backup>
            <catalog>
                <rewrite>
                    <!-- Add ACL check when getting categories -->
                    <category>Unl_Core_Helper_Catalog_Category</category>
                    <!-- Allow images to specify secure url pref -->
                    <image>Unl_Core_Helper_Catalog_Image</image>
                    <!-- Upate Security Logic -->
                    <product>Unl_Core_Helper_Catalog_Product</product>
                </rewrite>
            </catalog>
            <payment>
                <rewrite>
                    <!-- Fix disabled model issue -->
                    <data>Unl_Core_Helper_Payment_Data</data>
                </rewrite>
            </payment>
            <shipping>
                <rewrite>
                    <!-- Fix missing store_id -->
                    <data>Unl_Core_Helper_Shipping_Data</data>
                </rewrite>
            </shipping>
            <unl_core>
                <class>Unl_Core_Helper</class>
            </unl_core>
        </helpers>
        <models>
            <unl_core>
                <class>Unl_Core_Model</class>
                <resourceModel>unl_core_resource</resourceModel>
            </unl_core>
            <unl_core_resource>
                <class>Unl_Core_Model_Resource</class>
                <entities>
                    <tax_boundary>
                        <table>unl_tax_boundary</table>
                    </tax_boundary>
                    <tax_counties>
                        <table>unl_tax_counties</table>
                    </tax_counties>
                    <tax_places>
                        <table>unl_tax_places</table>
                    </tax_places>
                    <warehouse>
                    	<table>unl_warehouse</table>
                    </warehouse>
                </entities>
            </unl_core_resource>
            <adminhtml>
                <rewrite>
                    <!-- Add new catalog list modes -->
                    <system_config_source_catalog_listMode>Unl_Core_Model_Adminhtml_System_Config_Source_Catalog_ListMode</system_config_source_catalog_listMode>
                </rewrite>
            </adminhtml>
            <backup>
                <rewrite>
                    <!-- Add extra ignore tables -->
                    <db>Unl_Core_Model_Backup_Db</db>
                    <!-- Override the backup cron to support rsync -->
                    <observer>Unl_Core_Model_Backup_Observer</observer>
                </rewrite>
            </backup>
            <backup_resource>
                <rewrite>
                    <db>Unl_Core_Model_Backup_Resource_Db</db>
                    <helper_mysql4>Unl_Core_Model_Backup_Resource_Helper_Mysql4</helper_mysql4>
                </rewrite>
            </backup_resource>
            <catalog>
                <rewrite>
                    <!-- Fix upload exception logging when no upload occurs -->
                    <category_attribute_backend_image>Unl_Core_Model_Catalog_Category_Attribute_Backend_Image</category_attribute_backend_image>
                    <!-- Allow product import of configs/upsells/related -->
                    <convert_adapter_product>Unl_Core_Model_Catalog_Convert_Adapter_Product</convert_adapter_product>
                    <!-- Add ACL checks to filter categories -->
                    <layer_filter_category>Unl_Core_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <!-- Allow product images to specify secure url pref -->
                    <product_image>Unl_Core_Model_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <!-- Add an event hook on _renderFiltersBefore -->
                    <product_collection>Unl_Core_Model_Catalog_Resource_Product_Collection</product_collection>
                    <!-- Fix position link attribute filtering in EAV collection -->
                    <product_link_product_collection>Unl_Core_Model_Catalog_Resource_Product_Link_Product_Collection</product_link_product_collection>
                </rewrite>
            </catalog_resource>
            <catalogsearch>
                <rewrite>
                    <layer>Unl_Core_Model_CatalogSearch_Layer</layer>
                </rewrite>
            </catalogsearch>
            <catalogsearch_resource>
                <rewrite>
                    <helper_mysql4>Unl_Core_Model_CatalogSearch_Resource_Helper_Mysql4</helper_mysql4>
                    <fulltext>Unl_Core_Model_CatalogSearch_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
            <cms>
            	<rewrite>
            		<!-- Fix skin URL -->
            		<wysiwyg_images_storage>Unl_Core_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
            	</rewrite>
            </cms>
            <core>
                <rewrite>
                    <!-- Add an event to package exception check -->
                    <design_package>Unl_Core_Model_Core_Design_Package</design_package>
                	<!-- Allow locale templates in Design -->
                    <email_template>Unl_Core_Model_Core_Email_Template</email_template>
                    <translate>Unl_Core_Model_Core_Translate</translate>
                    <!-- Allow Variables in Wysiwyg Editors outside of adminhtml -->
                    <variable_config>Unl_Core_Model_Core_Variable_Config</variable_config>
                </rewrite>
            </core>
            <dataflow>
                <rewrite>
                    <!-- Fix Double HTML Escaping -->
                    <convert_parser_xml_excel>Unl_Core_Model_Dataflow_Convert_Parser_Xml_Excel</convert_parser_xml_excel>
                </rewrite>
            </dataflow>
            <importexport>
                <rewrite>
                    <!-- Add admin scope filters -->
                    <export_entity_product>Unl_Core_Model_ImportExport_Export_Entity_Product</export_entity_product>
                    <import_entity_product>Unl_Core_Model_ImportExport_Import_Entity_Product</import_entity_product>
                </rewrite>
            </importexport>
            <log>
                <rewrite>
                    <!-- Fix stack trace in error message -->
                    <cron>Unl_Core_Model_Log_Cron</cron>
                </rewrite>
            </log>
            <payment>
                <rewrite>
                    <!-- Custom availability/display logic -->
                    <method_checkmo>Unl_Core_Model_Payment_Method_Checkmo</method_checkmo>
                </rewrite>
            </payment>
            <paypal>
            	<rewrite>
                    <!-- Fixes for partial capture/refund -->
            		<payflowpro>Unl_Core_Model_Paypal_Payflowpro</payflowpro>
            	</rewrite>
            </paypal>
            <reports_resource>
                <rewrite>
                    <!-- Dashboard Report Fixes for Store Owned Products -->
                    <order_collection>Unl_Core_Model_Reports_Resource_Order_Collection</order_collection>
                    <!-- Source Store Filter -->
                    <product_sold_collection>Unl_Core_Model_Reports_Resource_Product_Sold_Collection</product_sold_collection>
                    <product_viewed_collection>Unl_Core_Model_Reports_Resource_Product_Viewed_Collection</product_viewed_collection>
                </rewrite>
            </reports_resource>
            <sales>
                <rewrite>
                    <!-- Email Stores/Warehouse and Invoice Write-Off -->
                    <order>Unl_Core_Model_Sales_Order</order>
                    <!-- Adds force pay abstaction for checkmo -->
                    <order_invoice>Unl_Core_Model_Sales_Order_Invoice</order_invoice>
                    <!-- Extend shipping total for auto-capture orders -->
                    <order_invoice_total_shipping>Unl_Core_Model_Sales_Order_Invoice_Total_Shipping</order_invoice_total_shipping>
                    <order_invoice_total_tax>Unl_Core_Model_Sales_Order_Invoice_Total_Tax</order_invoice_total_tax>
                    <!-- Multiple Refunds per Capture -->
                    <order_payment>Unl_Core_Model_Sales_Order_Payment</order_payment>
                    <!-- Change size of order PDFs to US Letter -->
                    <order_pdf_items_creditmemo_default>Unl_Core_Model_Sales_Order_Pdf_Items_Creditmemo_Default</order_pdf_items_creditmemo_default>
                    <order_pdf_items_invoice_default>Unl_Core_Model_Sales_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                    <order_pdf_items_shipment_default>Unl_Core_Model_Sales_Order_Pdf_Items_Shipment_Default</order_pdf_items_shipment_default>
                    <order_pdf_creditmemo>Unl_Core_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_invoice>Unl_Core_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_shipment>Unl_Core_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                    <!-- Adds an event to fire after setting shipping_method -->
                    <quote_address>Unl_Core_Model_Sales_Quote_Address</quote_address>
                    <!-- New methods to pull config attributes -->
                    <quote_config>Unl_Core_Model_Sales_Quote_Config</quote_config>
                    <!-- Fixes dummy qty and adds before total events -->
                    <service_order>Unl_Core_Model_Sales_Service_Order</service_order>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <!-- Fix Aggregate Methods And Live Reports -->
                    <report_bestsellers>Unl_Core_Model_Sales_Resource_Report_Bestsellers</report_bestsellers>
                    <report_order_createdat>Unl_Core_Model_Sales_Resource_Report_Order_Createdat</report_order_createdat>
                    <report_order_updatedat>Unl_Core_Model_Sales_Resource_Report_Order_Updatedat</report_order_updatedat>
                </rewrite>
            </sales_resource>
            <!-- Handled by config change
            <shipping>
                <rewrite>
                    <carrier_pickup>Unl_Core_Model_Shipping_Carrier_Pickup</carrier_pickup>
                </rewrite>
            <shipping>
             -->
            <tax>
                <rewrite>
                    <!-- Find the Zip+4 for NE Addresses -->
                    <calculation>Unl_Core_Model_Tax_Calculation</calculation>
                    <!-- Add method for getting shipping tax class -->
                    <config>Unl_Core_Model_Tax_Config</config>
                    <!-- Adds the total product amount applied to the tax rate -->
                    <sales_total_quote_tax>Unl_Core_Model_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <tax_resource>
                <rewrite>
                    <!-- Aggregate additional tax column -->
                    <report_tax_createdat>Unl_Core_Model_Tax_Resource_Report_Tax_Createdat</report_tax_createdat>
                    <report_tax_updatedat>Unl_Core_Model_Tax_Resource_Report_Tax_Updatedat</report_tax_updatedat>
                    <!-- Core Tax Report Collection Modifications -->
                    <report_collection>Unl_Core_Model_Tax_Resource_Report_Collection</report_collection>
                    <report_updatedat_collection>Unl_Core_Model_Tax_Resource_Report_Updatedat_Collection</report_updatedat_collection>
                </rewrite>
            </tax_resource>
            <widget>
            	<rewrite>
                    <!-- Allow WYWSIWYG outside of adminhtml -->
            		<widget_config>Unl_Core_Model_Widget_Widget_Config</widget_config>
            	</rewrite>
            </widget>
        </models>
        <resources>
            <unl_core_setup>
                <setup>
                    <module>Unl_Core</module>
                    <class>Unl_Core_Model_Resource_Setup</class>
                </setup>
            </unl_core_setup>
        </resources>
        <resource>
            <connection>
                <types>
                    <pdo_mysql>
                        <compatibleMode>0</compatibleMode>
                    </pdo_mysql>
                </types>
            </connection>
        </resource>
        
        <fieldsets>
            <sales_convert_quote_item>
                <source_store_view><to_order_item>*</to_order_item></source_store_view>
                <warehouse><to_order_item>*</to_order_item></warehouse>
            </sales_convert_quote_item>
        </fieldsets>
        
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <catalog_acl>
                        <class>unl_core/catalog_observer</class>
                        <method>isCustomerAllowedCategory</method>
                    </catalog_acl>
                </observers>
            </catalog_controller_category_init_after>
            
            <catalog_controller_product_init_after>
                <observers>
                    <catalog_acl>
                        <class>unl_core/catalog_observer</class>
                        <method>isCustomerAllowedProduct</method>
                    </catalog_acl>
                </observers>
            </catalog_controller_product_init_after>
            
            <catalog_product_is_salable_after>
                <observers>
                    <no_sale_check>
                        <class>unl_core/catalog_observer</class>
                        <method>isProductNoSale</method>
                    </no_sale_check>
                </observers>
            </catalog_product_is_salable_after>
            
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <unlcore_before_block_to_html>
                        <class>unl_core/observer</class>
                        <method>consumeCheckoutMessages</method>
                    </unlcore_before_block_to_html>
                </observers>
            </core_block_abstract_prepare_layout_before>
                        
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <multiship_fix>
                        <class>unl_core/sales_observer</class>
                        <method>onSalesConvertQuoteItemToOrderItem</method>
                    </multiship_fix>
                </observers>
            </sales_convert_quote_item_to_order_item>
            
            <sales_quote_address_set_shipping_method_after>
                <observers>
                    <pickup_fix>
                        <class>unl_core/sales_observer</class>
                        <method>onShippingMethodSet</method>
                    </pickup_fix>
                </observers>
            </sales_quote_address_set_shipping_method_after>
            
            <sales_quote_item_set_product>
                <observers>
                    <source_store_set>
                        <class>unl_core/sales_observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </source_store_set>
                </observers>
            </sales_quote_item_set_product>
            
            <sales_order_place_after>
                <observers>
                    <virtual_capture>
                        <class>unl_core/sales_observer</class>
                        <method>onAfterPlaceOrder</method>
                    </virtual_capture>
                </observers>
            </sales_order_place_after>
            
            <sales_order_save_after>
                <observers>
                    <!-- Override Tax Module -->
                    <tax>
                        <class>unl_core/sales_observer</class>
                        <method>onAfterOrderSave</method>
                    </tax>
                </observers>
            </sales_order_save_after>
            
            <sales_order_creditmemo_refund>
            	<observers>
                    <apply_refunded_at>
                        <class>unl_core/sales_observer</class>
                        <method>onSalesOrderCreditmemoRefund</method>
                    </apply_refunded_at>
                </observers>
            </sales_order_creditmemo_refund>
            
            <sales_order_invoice_pay>
            	<observers>
                    <apply_paid_at>
                        <class>unl_core/sales_observer</class>
                        <method>onSalesOrderInvoicePay</method>
                    </apply_paid_at>
                </observers>
            </sales_order_invoice_pay>
            
            <sales_order_shipment_resource_init_virtual_grid_columns>
                <observers>
                    <recon_grid>
                        <class>unl_core/sales_observer</class>
                        <method>initShipmentGridVirtualColumns</method>
                    </recon_grid>
                </observers>
            </sales_order_shipment_resource_init_virtual_grid_columns>
            
            <sales_order_item_save_before>
            	<observers>
                    <set_dummy>
                        <class>unl_core/sales_observer</class>
                        <method>onBeforeSalesItemSave</method>
                    </set_dummy>
                </observers>
            </sales_order_item_save_before>
            
            <sales_creditmemo_item_save_before>
            	<observers>
                    <set_dummy>
                        <class>unl_core/sales_observer</class>
                        <method>onBeforeSalesItemSave</method>
                    </set_dummy>
                </observers>
            </sales_creditmemo_item_save_before>
            
            <sales_invoice_item_save_before>
            	<observers>
                    <set_dummy>
                        <class>unl_core/sales_observer</class>
                        <method>onBeforeSalesItemSave</method>
                    </set_dummy>
                </observers>
            </sales_invoice_item_save_before>
            
            <sales_shipment_item_save_before>
            	<observers>
                    <set_dummy>
                        <class>unl_core/sales_observer</class>
                        <method>onBeforeSalesItemSave</method>
                    </set_dummy>
                </observers>
            </sales_shipment_item_save_before>
            
        </events>
        
        <cache>
            <types>
                <unl_tax translate="label,description" module="core">
                    <label>UNL Tax</label>
                    <description>ZIP+4 Validation Lookups and ZIP to FIPS translations.</description>
                    <tags>UNL_TAX_BOUNDARY,UNL_TAX_TRANSLATE</tags>
                </unl_tax>
            </types>
        </cache>
        
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <source_store_view/>
                        <warehouse/>
                    </product_attributes>
                    <set_product_attributes>
                        <source_store_view/>
                        <warehouse/>
                    </set_product_attributes>
                    <address_item_parent_attributes>
                        <store_id/>
                    </address_item_parent_attributes>
                </item>
            </quote>
            
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
        
        <pdf>
            <totals>
                <subtotal><font_size>10</font_size></subtotal>
                <discount><font_size>10</font_size></discount>
                <shipping>
                    <sort_order>300</sort_order>
                    <font_size>10</font_size>
                </shipping>
                <tax>
                    <title>Tax (may include shipping)</title>
                    <sort_order>400</sort_order>
                    <font_size>10</font_size>
                </tax>
                <adjustment_positive><font_size>10</font_size></adjustment_positive>
                <adjustment_negative><font_size>10</font_size></adjustment_negative>
                <grand_total><font_size>11</font_size></grand_total>
            </totals>
        </pdf>
        
        <ignore_user_agents>
            <bing>Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)</bing>
            <msnbot1>msnbot/1.1 (+http://search.msn.com/msnbot.htm)</msnbot1>
            <msnbot>msnbot/2.0b (+http://search.msn.com/msnbot.htm)._</msnbot>
            <yahoo>Mozilla/5.0 (compatible; Yahoo! Slurp; http://help.yahoo.com/help/us/ysearch/slurp)</yahoo>
            <mj12>Mozilla/5.0 (compatible; MJ12bot/v1.3.3; http://www.majestic12.co.uk/bot.php?+)</mj12>
            <yandex>Mozilla/5.0 (compatible; YandexBot/3.0; +http://yandex.com/bots)</yandex>
            <discobot>Mozilla/5.0 (compatible; discobot/1.1; +http://discoveryengine.com/discobot.html)</discobot>
            <baidu>Mozilla/5.0 (compatible; Baiduspider/2.0; +http://www.baidu.com/search/spider.html)</baidu>
            <ezooms>Mozilla/5.0 (compatible; Ezooms/1.0; ezooms.bot@gmail.com)</ezooms>
            <daumoa>Mozilla/5.0 (compatible; MSIE or Firefox mutant; not on Windows server; +http://ws.daum.net/aboutWebSearch.html) Daumoa/2.0</daumoa>
            <collectd>collectd/4.10.2</collectd>
        </ignore_user_agents>
        
        <session>
            <validation>
                <http_user_agent_skip>
                    <flash_11_mac>Adobe Flash Player 11</flash_11_mac>
                </http_user_agent_skip>
            </validation>
        </session>
        
    </global>
    
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <unl_core before="Mage_Catalog">Unl_Core_Catalog</unl_core>
                    </modules>
                </args>
            </catalog>
            <persistent>
                <args>
                    <modules>
                        <unl_core before="Mage_Persistent">Unl_Core_Persistent</unl_core>
                    </modules>
                </args>
            </persistent>
        </routers>
    
        <events>
            <core_design_check_useragent_exps_before>
                <observers>
                    <no_mobile>
                        <class>unl_core/observer</class>
                        <method>checkNoMobile</method>
                    </no_mobile>
                </observers>
            </core_design_check_useragent_exps_before>
            
            <sales_order_save_commit_after>
                <observers>
                    <!-- Extend and Forward Core -->
                    <downloadable_observer>
                        <class>unl_core/downloadable_observer</class>
                        <method>setLinkStatus</method>
                    </downloadable_observer>
                </observers>
            </sales_order_save_commit_after>
        
            <sales_quote_item_qty_set_after>
                <observers>
                    <product_limit>
                        <class>unl_core/sales_observer</class>
                        <method>onAfterSetSalesQuoteItemQty</method>
                    </product_limit>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
        
        <category>
            <collection>
                <attributes>
                    <group_acl/>
                </attributes>
            </collection>
        </category>
        
        <layout>
            <updates>
                <unlcore module="Unl_Core">
                    <file>unl.xml</file>
                </unlcore>
            </updates>
        </layout>
    </frontend>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <unl_core before="Mage_Connect_Adminhtml">Unl_Core_Adminhtml</unl_core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
    	<cms>
    		<browser>
    			<extensions>
	    			<allowed>
	    				<pdf>1</pdf>
	    			</allowed>
    			</extensions>
    		</browser>
    	</cms>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <unl_core>
                        <class>unl_core/observer</class>
                        <method>onBeforeToHtml</method>
                    </unl_core>
                </observers>
            </adminhtml_block_html_before>
        
        	<admin_user_authenticate_after>
        		<observers>
                    <filter_cas>
                        <class>unl_core/admin_observer</class>
                        <method>preventNonCasLogin</method>
                    </filter_cas>
                </observers>
        	</admin_user_authenticate_after>
        	
            <admin_user_save_before>
                <observers>
                    <save_store>
                        <class>unl_core/admin_observer</class>
                        <method>beforeUserSave</method>
                    </save_store>
                </observers>
            </admin_user_save_before>
            
            <adminhtml_widget_grid_filter_collection>
                <observers>
                    <unl_scope>
                        <class></class>
                        <method></method>
                    </unl_scope>
                </observers>
            </adminhtml_widget_grid_filter_collection>
            
            <cms_page_save_before>
                <observers>
                    <save_store>
                        <class>unl_core/admin_observer</class>
                        <method>beforeCmsPageSave</method>
                    </save_store>
                </observers>
            </cms_page_save_before>
            
            <adminhtml_catalog_category_tree_can_add_root_category>
                <observers>
                    <add_root_acl>
                        <class>unl_core/admin_observer</class>
                        <method>isAllowedAddRootCategory</method>
                    </add_root_acl>
                </observers>
            </adminhtml_catalog_category_tree_can_add_root_category>
            
            <catalog_product_collection_render_filters_before>
                <observers>
                    <unl_product_scope>
                        <class>unl_core/catalog_observer</class>
                        <method>beforeRenderProductCollectionFilters</method>
                    </unl_product_scope>
                </observers>
            </catalog_product_collection_render_filters_before>
            
            <cms_wysiwyg_config_prepare>
                <observers>
                    <unl_prep_wysiwyg>
                        <class>unl_core/observer</class>
                        <method>prepareWysiwygConfig</method>
                    </unl_prep_wysiwyg>
                </observers>
            </cms_wysiwyg_config_prepare>
            
            <controller_action_layout_render_before_adminhtml_permissions_user_edit>
                <observers>
                    <unl_scope_permissions>
                        <class>unl_core/admin_observer</class>
                        <method>onBeforeRenderPermissionsLayout</method>
                    </unl_scope_permissions>
                </observers>
            </controller_action_layout_render_before_adminhtml_permissions_user_edit>
            
            <controller_action_predispatch_adminhtml_system_account_save>
                <observers>
                    <unl_filter_cas>
                        <class>unl_core/admin_observer</class>
                        <method>onSystemAccountSavePreDispatch</method>
                    </unl_filter_cas>
                </observers>
            </controller_action_predispatch_adminhtml_system_account_save>
		    
		    <controller_action_predispatch_adminhtml_catalog_category_edit>
                <observers>
                    <unl_category_scope>
                        <class>unl_core/admin_observer</class>
                        <method>onCatalogCategoryPreDispatch</method>
                    </unl_category_scope>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_category_edit>
            
            <controller_action_predispatch_adminhtml_catalog_category_tree>
                <observers>
                    <unl_category_scope>
                        <class>unl_core/admin_observer</class>
                        <method>onCatalogCategoryPreDispatch</method>
                    </unl_category_scope>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_category_tree>
            
            <controller_action_predispatch_adminhtml_catalog_product_edit>
                <observers>
                    <product_auth>
                        <class>unl_core/admin_observer</class>
                        <method>onCatalogProductEditPredispatch</method>
                    </product_auth>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_edit>
            
            <controller_action_predispatch_adminhtml_cms_page_edit>
                <observers>
                    <product_auth>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminCmsPageEditPreDispatch</method>
                    </product_auth>
                </observers>
            </controller_action_predispatch_adminhtml_cms_page_edit>
            
            <controller_action_predispatch_adminhtml_customer_grid>
            	<observers>
            		<advfilter>
            			<class>unl_core/observer</class>
                        <method>onBeforeManageCustomers</method>
            		</advfilter>
            	</observers>
            </controller_action_predispatch_adminhtml_customer_grid>
                
            <controller_action_predispatch_adminhtml_index_login>
                <observers>
                    <ssl_check>
                        <class>unl_core/observer</class>
                        <method>onBeforeAdminLoginCheckSSL</method>
                    </ssl_check>
                </observers>
            </controller_action_predispatch_adminhtml_index_login>
            
            <controller_action_predispatch_adminhtml_sales_creditmemo_view>
                <observers>
	                <order_auth>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesEntityViewPreDispatch</method>
	                </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_creditmemo_view>
                        
            <controller_action_predispatch_adminhtml_sales_invoice_view>
                <observers>
                    <order_auth>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesEntityViewPreDispatch</method>
                    </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_invoice_view>
            
            <controller_action_predispatch_adminhtml_sales_order_grid>
            	<observers>
            		<advfilter>
            			<class>unl_core/observer</class>
                        <method>onBeforeSalesOrderGrid</method>
            		</advfilter>
            	</observers>
            </controller_action_predispatch_adminhtml_sales_order_grid>
            
            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <order_auth>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesEntityViewPreDispatch</method>
                    </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>
            
            <controller_action_predispatch_adminhtml_sales_shipment_view>
                <observers>
                    <order_auth>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesEntityViewPreDispatch</method>
                    </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_shipment_view>
            
            <controller_action_predispatch_adminhtml_report_sales_coupons>
                <observers>
                    <unl_scope>
                        <class>unl_core/admin_observer</class>
                        <method>onSalesReportPreDispatch</method>
                    </unl_scope>
                </observers>
            </controller_action_predispatch_adminhtml_report_sales_coupons>
            
            <controller_action_predispatch_adminhtml_report_sales_sales>
                <observers>
                    <unl_scope>
                        <class>unl_core/admin_observer</class>
                        <method>onSalesReportPreDispatch</method>
                    </unl_scope>
                </observers>
            </controller_action_predispatch_adminhtml_report_sales_sales>
            
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <unl_core_admin_layout>
                        <class>unl_core/observer</class>
                        <method>onAfterAdminPrepareLayout</method>
                    </unl_core_admin_layout>
                </observers>
            </core_block_abstract_prepare_layout_after>
            
            <core_block_abstract_to_html_before>
                <observers>
                    <unlcore_before_block_to_html>
                        <class>unl_core/observer</class>
                        <method>beforeCoreBlockToHtml</method>
                    </unlcore_before_block_to_html>
                </observers>
            </core_block_abstract_to_html_before>
            
            <rss_catalog_notify_stock_collection_select>
                <observers>
                    <filter_scope>
                        <class>unl_core/admin_observer</class>
                        <method>onRssCatalogStockCollectionSelect</method>
                    </filter_scope>
                </observers>
            </rss_catalog_notify_stock_collection_select>
            
            <rss_order_new_collection_select>
                <observers>
                    <filter_scope>
                        <class>unl_core/admin_observer</class>
                        <method>onRssOrderNewCollectionSelect</method>
                    </filter_scope>
                </observers>
            </rss_order_new_collection_select>
            
            <sales_order_save_commit_after>
                <observers>
                    <!-- Extend and Forward Core -->
                    <downloadable_observer>
                        <class>unl_core/downloadable_observer</class>
                        <method>setLinkStatus</method>
                    </downloadable_observer>
                </observers>
            </sales_order_save_commit_after>
            
            <sales_order_shipment_save_before>
                <observers>
                    <was_new>
                        <class>unl_core/sales_observer</class>
                        <method>onBeforeOrderShipmentSave</method>
                    </was_new>
                </observers>
            </sales_order_shipment_save_before>
            
            <sales_order_shipment_save_after>
                <observers>
                    <capture_case>
                        <class>unl_core/sales_observer</class>
                        <method>onAfterOrderShipmentSave</method>
                    </capture_case>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        
        <layout>
            <updates>
                <unlcore module="Unl_Core">
                    <file>unl.xml</file>
                </unlcore>
            </updates>
        </layout>
        
        <unl_adminlog>
            <log_events>
                <adminhtml_report_sales_bursar translate="label">
                    <label>Reporting: Sales - Bursar</label>
                    <view_actions>
                        <cc />
                        <co />
                        <nocap />
                    </view_actions>
                </adminhtml_report_sales_bursar>
                <adminhtml_report_sales_reconcile translate="label">
                    <label>Reporting: Sales - Reconcile</label>
                    <view_actions>
                        <cc />
                        <co />
                        <nocap />
                    </view_actions>
                </adminhtml_report_sales_reconcile>
                <adminhtml_report_sales_tax translate="label">
                    <label>Reporting: Sales - Tax</label>
                    <view_actions>
                        <reconcile />
                        <totals />
                    </view_actions>
                </adminhtml_report_sales_tax>
                <adminhtml_report_customer translate="label">
                    <label>Reporting: Customer Info</label>
                    <view_actions>
                        <orderaddress />
                    </view_actions>
                </adminhtml_report_customer>
                <adminhtml_report_product translate="label">
                    <label>Reporting: Sold Product Details</label>
                    <view_actions>
                        <customized />
                        <orderdetails />
                        <reconcile />
                    </view_actions>
                </adminhtml_report_product>
                <adminhtml_sales_order_view_externalid translate="label">
                    <label>Sales Order External Id</label>
                </adminhtml_sales_order_view_externalid>
                <adminhtml_tax_rate>
                    <save_actions>
                        <boundaryimportpost />
                        <fullimportpost />
                    </save_actions>
                </adminhtml_tax_rate>
                <adminhtml_warehouse translate="label">
                    <label>Manage Warehouses</label>
                </adminhtml_warehouse>
            </log_events>
        </unl_adminlog>
    </adminhtml>
    
    
    <crontab>
        <jobs>
            <unl_core_block_cache_autoclean>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>unl_core/observer::autoCleanBlockHtmlCache</model></run>
            </unl_core_block_cache_autoclean>
        </jobs>
    </crontab>
    
    <stores>
        <admin>
            <!-- default admin design package and theme -->
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>unl</default>
                </theme>
            </design>
        </admin>
    </stores>

    <default>
        <catalog>
            <frontend>
                <text_per_page_values>20,40,80</text_per_page_values>
                <text_per_page>20</text_per_page>
            </frontend>
        </catalog>
        <payment>
            <cash>
                <active>0</active>
                <model>unl_core/payment_method_cash</model>
                <order_status>pending</order_status>
                <title>Internal Cash/Check</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </cash>
            <invoicelater>
                <active>0</active>
                <model>unl_core/payment_method_invoicelater</model>
                <order_status>pending</order_status>
                <title>Invoice Later</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </invoicelater>
            <verisign>
            	<reference_txn>0</reference_txn>
            </verisign>
            <!-- ensure GoogleCheckout is NOT active -->
            <googlecheckout>
                <active>0</active>
                <model></model>
            </googlecheckout>
        </payment>
        <carriers>
            <pickup>
                <active>0</active>
                <model>unl_core/shipping_carrier_pickup</model>
                <name>Store Pickup</name>
                <title>Pickup</title>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </pickup>
        </carriers>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
        </dev>
        <google>
            <analytics>
                <output_script>0</output_script>
            </analytics>
        </google>
        <system>
            <rsync>
                <user backend_model="adminhtml/system_config_backend_encrypted"></user>
                <retain>7</retain>
            </rsync>
        </system>
    </default>
</config>
