<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Core>
            <version>0.1.16</version>
            <depends>
                <Mage_Admin />
                <Mage_Adminhtml />
                <Mage_Bundle />
                <Mage_Catalog />
                <Mage_Cms />
                <Mage_Core />
                <Mage_Customer />
                <Mage_Reports />
                <Mage_Sales />
                <Mage_Tax />
            </depends>
        </Unl_Core>
    </modules>
    
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Unl_Core_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <cms_page_grid>Unl_Core_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
                    <customer_grid>Unl_Core_Block_Adminhtml_Customer_Grid</customer_grid>
                    <dashboard_sales>Unl_Core_Block_Adminhtml_Dashboard_Sales</dashboard_sales>
                    <dashboard_tab_customers_most>Unl_Core_Block_Adminhtml_Dashboard_Tab_Customers_Most</dashboard_tab_customers_most>
                    <dashboard_tab_products_viewed>Unl_Core_Block_Adminhtml_Dashboard_Tab_Products_Viewed</dashboard_tab_products_viewed>
                    <dashboard_totals>Unl_Core_Block_Adminhtml_Dashboard_Totals</dashboard_totals>
                    <dashboard_orders_grid>Unl_Core_Block_Adminhtml_Dashboard_Orders_Grid</dashboard_orders_grid>
                    <report_product_downloads_grid>Unl_Core_Block_Adminhtml_Report_Product_Downloads_Grid</report_product_downloads_grid>
                    <report_product_lowstock_grid>Unl_Core_Block_Adminhtml_Report_Product_Lowstock_Grid</report_product_lowstock_grid>
                    <report_review_product_grid>Unl_Core_Block_Adminhtml_Report_Review_Product_Grid</report_review_product_grid>
                    <report_sales_sales_grid>Unl_Core_Block_Adminhtml_Report_Sales_Sales_Grid</report_sales_sales_grid>
                    <report_sales_tax_grid>Unl_Core_Block_Adminhtml_Report_Sales_Tax_Grid</report_sales_tax_grid>
                    <sales_creditmemo_grid>Unl_Core_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
                    <sales_invoice_grid>Unl_Core_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
                    <sales_order_grid>Unl_Core_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_invoice_view>Unl_Core_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <sales_shipment_grid>Unl_Core_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                    <widget_grid_column_filter_store>Unl_Core_Block_Adminhtml_Widget_Grid_Column_Filter_Store</widget_grid_column_filter_store>
                    <widget_grid_column_renderer_currency>Unl_Core_Block_Adminhtml_Widget_Grid_Column_Renderer_Currency</widget_grid_column_renderer_currency>
                    <widget_grid_column_renderer_price>Unl_Core_Block_Adminhtml_Widget_Grid_Column_Renderer_Price</widget_grid_column_renderer_price>
                </rewrite>
            </adminhtml>
            <bundle>
                
                <rewrite>
                    <!-- Fix Item Renders -->
                    <adminhtml_sales_order_items_renderer>Unl_Core_Block_Bundle_Adminhtml_Sales_Order_Items_Renderer</adminhtml_sales_order_items_renderer>
                    <adminhtml_sales_order_view_items_renderer>Unl_Core_Block_Bundle_Adminhtml_Sales_Order_View_Items_Renderer</adminhtml_sales_order_view_items_renderer>
                    <sales_order_items_renderer>Unl_Core_Block_Bundle_Sales_Order_Items_Renderer</sales_order_items_renderer>
                    <!-- Fix Price Display when +$0.00 -->
                    <catalog_product_view_type_bundle_option_checkbox>Unl_Core_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
                    <catalog_product_view_type_bundle_option_multi>Unl_Core_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
                    <catalog_product_view_type_bundle_option_radio>Unl_Core_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_select>Unl_Core_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
                    <checkout_cart_item_renderer>Unl_Core_Block_Bundle_Checkout_Cart_Item_Renderer</checkout_cart_item_renderer>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <navigation>Unl_Core_Block_Catalog_Navigation</navigation>
                    <breadcrumbs>Unl_Core_Block_Catalog_Breadcrumbs</breadcrumbs>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <links>Unl_Core_Block_Checkout_Links</links>
                </rewrite>
            </checkout>
            <googleanalytics>
                <rewrite>
                    <ga>Unl_Core_Block_GoogleAnalytics_Ga</ga>
                </rewrite>
            </googleanalytics>
            <unl_core>
                <class>Unl_Core_Block</class>
            </unl_core>
            <wishlist>
                <rewrite>
                    <links>Unl_Core_Block_Wishlist_Links</links>
                </rewrite>
            </wishlist>
        </blocks>
        <helpers>
            <adminhtml>
                <rewrite>
                    <dashboard_order>Unl_Core_Helper_Adminhtml_Dashboard_Order</dashboard_order>
                </rewrite>
            </adminhtml>
            <shipping>
                <rewrite>
                    <data>Unl_Core_Helper_Shipping_Data</data>
                </rewrite>
            </shipping>
            <unl_core>
                <class>Unl_Core_Helper</class>
            </unl_core>
        </helpers>
        <models>
            <unl_core>
                <class>Unl_Core_Model</class>
                <resourceModel>unl_core_mysql4</resourceModel>
            </unl_core>
            <unl_core_mysql4>
                <class>Unl_Core_Model_Mysql4</class>
                <entities>
                    <tax_boundary>
                        <table>unl_tax_boundary</table>
                    </tax_boundary>
                </entities>
            </unl_core_mysql4>
            <backup>
                <rewrite>
                    <db>Unl_Core_Model_Backup_Db</db>
                </rewrite>
            </backup>
            <bundle>
                <!-- User Defined Qty for Checkbox Bundle Option -->
                <rewrite>
                    <product_type>Unl_Core_Model_Bundle_Product_Type</product_type>
                    <sales_order_pdf_items_creditmemo>Unl_Core_Model_Bundle_Sales_Order_Pdf_Items_Creditmemo</sales_order_pdf_items_creditmemo>
                    <sales_order_pdf_items_invoice>Unl_Core_Model_Bundle_Sales_Order_Pdf_Items_Invoice</sales_order_pdf_items_invoice>
                    <sales_order_pdf_items_shipment>Unl_Core_Model_Bundle_Sales_Order_Pdf_Items_Shipment</sales_order_pdf_items_shipment>
                </rewrite>
            </bundle>
            <catalog>
                
                <rewrite>
                    <category_attribute_backend_image>Unl_Core_Model_Catalog_Category_Attribute_Backend_Image</category_attribute_backend_image>
                    <!-- Allow product import of configs/upsells/related -->
                    <convert_adapter_product>Unl_Core_Model_Convert_Adapter_Product</convert_adapter_product>
                    <!-- Fix problem with products that are in the root category -->
                    <url>Unl_Core_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <category_tree>Unl_Core_Model_Catalog_Resource_Eav_Mysql4_Category_Tree</category_tree>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <core>
                <rewrite>
                	<!-- Allow locale templates in Design -->
                    <email_template>Unl_Core_Model_Core_Email_Template</email_template>
                    <translate>Unl_Core_Model_Core_Translate</translate>
                    <!-- Allow Variables in Wysiwyg Editors outside of adminhtml -->
                    <variable_config>Unl_Core_Model_Core_Variable_Config</variable_config>
                </rewrite>
            </core>
            <customer>
                <rewrite>
                    <address_config>Unl_Core_Model_Customer_Address_Config</address_config>
                </rewrite>
            </customer>
            <dataflow>
                <!-- Fix Double HTML Escaping -->
                <rewrite>
                    <convert_parser_xml_excel>Unl_Core_Model_Convert_Parser_Xml_Excel</convert_parser_xml_excel>
                </rewrite>
            </dataflow>
            <newsletter>
                <rewrite>
                    <template>Unl_Core_Model_Newsletter_Template</template>
                </rewrite>
            </newsletter>
            <payment>
                <rewrite>
                    <method_checkmo>Unl_Core_Model_Payment_Method_Checkmo</method_checkmo>
                </rewrite>
            </payment>
            <reports_mysql4>
                <rewrite>
                    <!-- Dashboard Report Fixes for Store Owned Products -->
                    <order_collection>Unl_Core_Model_Reports_Mysql4_Order_Collection</order_collection>
                    <!-- Store Owned Product Filters -->
                    <product_sold_collection>Unl_Core_Model_Reports_Mysql4_Product_Sold_Collection</product_sold_collection>
                    <product_viewed_collection>Unl_Core_Model_Reports_Mysql4_Product_Viewed_Collection</product_viewed_collection>
                </rewrite>
            </reports_mysql4>
            <sales>
                <rewrite>
                    <!-- Adds the total product amount applied to the tax rate -->
                    <order>Unl_Core_Model_Sales_Order</order>
                    <order_creditmemo_total_shipping>Unl_Core_Model_Sales_Order_Creditmemo_Total_Shipping</order_creditmemo_total_shipping>
                    <order_invoice>Unl_Core_Model_Sales_Order_Invoice</order_invoice>
                    <!-- Change size of order PDFs to US Letter -->
                    <order_pdf_creditmemo>Unl_Core_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_items_creditmemo_default>Unl_Core_Model_Sales_Order_Pdf_Items_Creditmemo_Default</order_pdf_items_creditmemo_default>
                    <order_pdf_items_invoice_default>Unl_Core_Model_Sales_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                    <order_pdf_items_shipment_default>Unl_Core_Model_Sales_Order_Pdf_Items_Shipment_Default</order_pdf_items_shipment_default>
                    <order_pdf_invoice>Unl_Core_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_shipment>Unl_Core_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                    
                    <quote_address>Unl_Core_Model_Sales_Quote_Address</quote_address>
                    <service_order>Unl_Core_Model_Sales_Service_Order</service_order>
                </rewrite>
            </sales>
            <sales_mysql4>
                <rewrite>
                    <!-- Fix Aggregate Methods And Live Reports -->
                    <report_bestsellers>Unl_Core_Model_Sales_Mysql4_Report_Bestsellers</report_bestsellers>
                    <report_order>Unl_Core_Model_Sales_Mysql4_Report_Order</report_order>
                    <report_order_updatedat_collection>Unl_Core_Model_Sales_Mysql4_Report_Order_Updatedat_Collection</report_order_updatedat_collection>
                </rewrite>
            </sales_mysql4>
            <tax>
                <rewrite>
                    <!-- Fixes to Attach Sale Amount to tax report and Zip+4 -->
                    <calculation>Unl_Core_Model_Tax_Calculation</calculation>
                    <config>Unl_core_Model_Tax_Config</config>
                    <sales_total_quote_tax>Unl_Core_Model_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
                    <sales_total_quote_subtotal>Unl_Core_Model_Tax_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
                </rewrite>
            </tax>
            <tax_mysql4>
                <!-- Tax report fix -->
                <rewrite>
                    <calculation>Unl_Core_Model_Tax_Mysql4_Calculation</calculation>
                    <report_collection>Unl_Core_Model_Tax_Mysql4_Report_Collection</report_collection>
                    <report_updatedat_collection>Unl_Core_Model_Tax_Mysql4_Report_Updatedat_Collection</report_updatedat_collection>
                    <report_tax>Unl_Core_Model_Tax_Mysql4_Report_Tax</report_tax>
                </rewrite>
            </tax_mysql4>
            <widget>
            	<rewrite>
            		<widget_config>Unl_Core_Model_Widget_Widget_Config</widget_config>
            	</rewrite>
            </widget>
        </models>
        <resources>
            <unl_core_setup>
                <setup>
                    <module>Unl_Core</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </unl_core_setup>
        </resources>
        
        <fieldsets>
            <sales_convert_quote_item>
                <source_store_view><to_order_item>*</to_order_item></source_store_view>
            </sales_convert_quote_item>
        </fieldsets>
        
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <catalog_acl>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>isCustomerAllowedCategory</method>
                    </catalog_acl>
                </observers>
            </catalog_controller_category_init_after>
            <catalog_controller_product_init_after>
                <observers>
                    <catalog_acl>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>isCustomerAllowedProduct</method>
                    </catalog_acl>
                </observers>
            </catalog_controller_product_init_after>
            <catalog_product_is_salable_after>
                <observers>
                    <no_sale_check>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>checkNoSale</method>
                    </no_sale_check>
                </observers>
            </catalog_product_is_salable_after>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <unlcore_before_block_to_html>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>consumeCheckoutMessages</method>
                    </unlcore_before_block_to_html>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <unlcore_before_block_to_html>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>beforeCoreBlockToHtml</method>
                    </unlcore_before_block_to_html>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <multiship_fix>
                        <type>singleton</type>
                        <class>unl_core/sales_observer</class>
                        <method>onSalesConvertQuoteItemToOrderItem</method>
                    </multiship_fix>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_quote_address_set_shipping_method_after>
                <observers>
                    <pickup_fix>
                        <type>singleton</type>
                        <class>unl_core/sales_observer</class>
                        <method>onShippingMethodSet</method>
                    </pickup_fix>
                </observers>
            </sales_quote_address_set_shipping_method_after>
            <sales_quote_item_set_product>
                <observers>
                    <source_store_set>
                        <type>singleton</type>
                        <class>unl_core/sales_observer</class>
                        <method>setQuoteItemSourceStore</method>
                    </source_store_set>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_save_after>
                <observers>
                    <tax>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>salesEventOrderAfterSave</method>
                    </tax>
                </observers>
            </sales_order_save_after>
            <sales_order_shipment_resource_init_virtual_grid_columns>
                <observers>
                    <recon_grid>
                        <type>singleton</type>
                        <class>unl_core/sales_observer</class>
                        <method>initShipmentGridVirtualColumns</method>
                    </recon_grid>
                </observers>
            </sales_order_shipment_resource_init_virtual_grid_columns>
        </events>
        
        <pdf>
            <totals>
                <subtotal><font_size>10</font_size></subtotal>
                <discount><font_size>10</font_size></discount>
                <shipping>
                    <sort_order>300</sort_order>
                    <font_size>10</font_size>
                </shipping>
                <tax>
                    <title>Tax (may include shipping)</title>
                    <sort_order>400</sort_order>
                    <font_size>10</font_size>
                </tax>
                <adjustment_positive><font_size>10</font_size></adjustment_positive>
                <adjustment_negative><font_size>10</font_size></adjustment_negative>
                <grand_total><font_size>11</font_size></grand_total>
            </totals>
        </pdf>
        
        <customer>
            <address>
                <formats>
                    <oneline>
                        <htmlEscape></htmlEscape>
                    </oneline>
                </formats>
            </address>
        </customer>
    </global>
    
    <frontend>
        <events>
            <sales_quote_item_qty_set_after>
                <observers>
                    <product_limit>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>onAfterSetSalesQuoteItemQty</method>
                    </product_limit>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
        
        <layout>
            <updates>
                <unlcore module="Unl_Core">
                    <file>unl.xml</file>
                </unlcore>
            </updates>
        </layout>
    </frontend>
    
    <admin>
        <routers>
            <unl_core>
                <use>admin</use>
                <args>
                    <module>Unl_Core</module>
                    <frontName>unl</frontName>
                </args>
            </unl_core>
        </routers>
    </admin>
    
    <adminhtml>
        <events>
            <admin_user_save_before>
                <observers>
                    <save_store>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>beforeUserSave</method>
                    </save_store>
                </observers>
            </admin_user_save_before>
            
            <cms_page_save_before>
                <observers>
                    <save_store>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>beforeCmsPageSave</method>
                    </save_store>
                </observers>
            </cms_page_save_before>
            
            <adminhtml_block_html_before>
                <observers>
                    <correct_admin_blocks>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>correctAdminBlocks</method>
                    </correct_admin_blocks>
                </observers>
            </adminhtml_block_html_before>
            
            <adminhtml_catalog_category_tree_can_add_root_category>
                <observers>
                    <add_root_acl>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>isAllowedAddRootCategory</method>
                    </add_root_acl>
                </observers>
            </adminhtml_catalog_category_tree_can_add_root_category>
            
            <cms_wysiwyg_config_prepare>
                <observers>
                    <unl_prep_wysiwyg>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>prepareWysiwygConfig</method>
                    </unl_prep_wysiwyg>
                </observers>
            </cms_wysiwyg_config_prepare>
            
            <controller_action_predispatch>
		        <observers>
		            <unl_core_store_id>
		                <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>controllerActionPredispatch</method>
		            </unl_core_store_id>
		        </observers>
		    </controller_action_predispatch>
		    
		    <controller_action_predispatch_adminhtml_catalog_product_edit>
                <observers>
                    <product_auth>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>catalogProductEditActionPreDispatch</method>
                    </product_auth>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_edit>
            
            <controller_action_predispatch_adminhtml_cms_page_edit>
                <observers>
                    <product_auth>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminCmsPageEditPreDispatch</method>
                    </product_auth>
                </observers>
            </controller_action_predispatch_adminhtml_cms_page_edit>
            
            <controller_action_predispatch_adminhtml_customer_grid>
            	<observers>
            		<advfilter>
            			<type>singleton</type>
            			<class>unl_core/observer</class>
                        <method>onBeforeManageCustomers</method>
            		</advfilter>
            	</observers>
            </controller_action_predispatch_adminhtml_customer_grid>
                
            <controller_action_predispatch_adminhtml_index_login>
                <observers>
                    <ssl_check>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>onBeforeAdminLoginCheckSSL</method>
                    </ssl_check>
                </observers>
            </controller_action_predispatch_adminhtml_index_login>
            
            <controller_action_predispatch_adminhtml_sales_creditmemo_view>
                <observers>
	                <order_auth>
	                    <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesCreditmemoViewPreDispatch</method>
	                </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_creditmemo_view>
                        
            <controller_action_predispatch_adminhtml_sales_invoice_view>
                <observers>
                    <order_auth>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesInvoiceViewPreDispatch</method>
                    </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_invoice_view>
            
            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <order_auth>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesOrderViewPreDispatch</method>
                    </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>
            
            <controller_action_predispatch_adminhtml_sales_shipment_view>
                <observers>
                    <order_auth>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>onAdminSalesShipmentViewPreDispatch</method>
                    </order_auth>
                </observers>
            </controller_action_predispatch_adminhtml_sales_shipment_view>
            
            <eav_collection_abstract_load_before>
                <observers>
                    <unlcore_before_eav_collection_load>
                        <type>singleton</type>
                        <class>unl_core/observer</class>
                        <method>beforeEavCollectionLoad</method>
                    </unlcore_before_eav_collection_load>
                </observers>
            </eav_collection_abstract_load_before>
            
            <rss_order_new_collection_select>
                <observers>
                    <filter_scope>
                        <type>singleton</type>
                        <class>unl_core/admin_observer</class>
                        <method>onRssOrderNewCollectionSelect</method>
                    </filter_scope>
                </observers>
            </rss_order_new_collection_select>
        </events>
        
        <menu>
            <report>
                <children>
                    <salesroot>
                        <children>
                            <bursar translate="title" module="reports">
                                <title>Bursar Reports</title>
                                <children>
                                    <cc translate="title" module="reports">
                                        <title>Credit Card</title>
                                        <action>unl/report_sales_bursar/cc</action>
                                    </cc>
                                    <co translate="title" module="reports">
                                        <title>Cost Object</title>
                                        <action>unl/report_sales_bursar/co</action>
                                    </co>
                                    <nocap translate="title" module="reports">
                                        <title>Non-Captured</title>
                                        <action>unl/report_sales_bursar/nocap</action>
                                    </nocap>
                                </children>
                            </bursar>
                            <reconcile translate="title" module="reports">
                                <title>Reconcile Reports</title>
                                <children>
                                    <cc translate="title" module="reports">
                                        <title>Credit Card</title>
                                        <action>unl/report_sales_reconcile/cc</action>
                                    </cc>
                                    <co translate="title" module="reports">
                                        <title>Cost Object</title>
                                        <action>unl/report_sales_reconcile/co</action>
                                    </co>
                                    <nocap translate="title" module="reports">
                                        <title>Non-Captured</title>
                                        <action>unl/report_sales_reconcile/nocap</action>
                                    </nocap>
                                </children>
                            </reconcile>
                        </children>
                    </salesroot>
                    <products>
                        <children>
                            <orderdetails translate="title" module="reports">
                                <title>Order Details</title>
                                <action>unl/report_product/orderdetails</action>
                            </orderdetails>
                            <customized translate="title" module="reports">
                                <title>Customized</title>
                                <action>unl/report_product/customized</action>
                            </customized>
                        </children>
                    </products>
                </children>
            </report>
            <sales>
                <children>
                    <picklist translate="title" module="sales">
                        <title>Pick Lists</title>
                        <action>unl/sales_picklist</action>
                        <sort_order>41</sort_order>
                    </picklist>
                </children>
            </sales>
        </menu>
        
        <acl>
            <resources>
                <admin>
                    <children>
                        <report>
                            <children>
                                <salesroot>
                                    <children>
                                        <bursar translate="title">
                                            <title>Bursar Reports</title>
                                            <children>
                                                <cc translate="title">
                                                    <title>Credit Card</title>
                                                </cc>
                                                <co translate="title">
                                                    <title>Cost Object</title>
                                                </co>
                                                <nocap translate="title">
                                                    <title>Non-Captured</title>
                                                </nocap>
                                            </children>
                                        </bursar>
                                        <reconcile translate="title">
                                            <title>Reconcile Reports</title>
                                            <children>
                                                <cc translate="title">
                                                    <title>Credit Card</title>
                                                </cc>
                                                <co translate="title">
                                                    <title>Cost Object</title>
                                                </co>
                                                <nocap translate="title">
                                                    <title>Non-Captured</title>
                                                </nocap>
                                            </children>
                                        </reconcile>
                                    </children>
                                </salesroot>
                                <products>
                                    <children>
                                        <orderdetails translate="title">
                                            <title>Order Details</title>
                                        </orderdetails>
                                        <customized translate="title">
                                            <title>Customized</title>
                                        </customized>
                                    </children>
                                </products>
                            </children>
                        </report>
                        <sales>
                            <children>
                                <picklist translate="title">
                                    <title>Pick Lists</title>
                                    <sort_order>41</sort_order>
                                </picklist>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <unlcore module="Unl_Core">
                    <file>unl.xml</file>
                </unlcore>
            </updates>
        </layout>
    </adminhtml>
    
    <!-- 
    <crontab>
        <jobs>
            <unl_core_nightly_backup>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>unl_core/observer::generateNightlyBackup</model></run>
            </unl_core_nightly_backup>
        </jobs>
    </crontab>
     -->
    
    <stores>
        <admin>
            <!-- default admin design package and theme -->
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>unl</default>
                </theme>
            </design>
        </admin>
    </stores>
    <websites>
        <admin>
            <web>
                <default>
                    <no_route>backoffice/index/noRoute</no_route>
                </default>
            </web>
        </admin>
    </websites>
    
    <default>
        <design>
            <header>
                <storearticle>the</storearticle>
            </header>
        </design>
        <payment>
            <cash>
                <active>0</active>
                <model>unl_core/payment_method_cash</model>
                <order_status>pending</order_status>
                <title>Internal Cash/Check</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </cash>
        </payment>
        <carriers>
            <pickup>
                <active>0</active>
                <model>unl_core/shipping_carrier_pickup</model>
                <name>Store Pickup</name>
                <title>Pickup</title>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </pickup>
        </carriers>
        <tax>
            <classes>
                <exempt_shipping_tax_class></exempt_shipping_tax_class>
            </classes>
        </tax>
    </default>
</config>
