<?xml version="1.0"?>
<config>
    <modules>
        <Unl_Catalog>
            <version>0.1.0</version>
        </Unl_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <breadcrumbs>Unl_Catalog_Block_Breadcrumbs</breadcrumbs>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>