<!--@subject Account confirmation for {{var customer.name}} @-->

<style>
 td {color:#494949; font-size: 12px; line-height: 140%; font-family: 'Lucida Grande',Verdana,Arial;}
</style>

<div>
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="600">
            <tr>
                <td valign="top"><a href="{{store url=''}}" style="outline:none;display:block;height:126px;"><img src="http://www.unl.edu/wdn/templates_3.0/images/email/header.png" alt="The University of Nebraska-Lincoln" width="600" height="126" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="600">
            <tr>
            	<td width="12" bgcolor="#E0E0E0">&nbsp;</td>
                <td width="10">&nbsp;</td>
                <td align="left" valign="top" width="556">
                	<table cellspacing="0" cellpadding="0" border="0">
                    	<tr>
                        	<td style="color:#494949; font-size: 12px; line-height: 140%; font-family: 'Lucida Grande',Verdana,Arial;">
                              <h1 style="color:#BA0000;font-family:arial;text-decoration:none;font-size:1.6em;line-height:1;font-weight:bold;margin-bottom:1em;">Account confirmation for {{var customer.name}}</h1>
                                <p style="margin:1.1em 0;"><strong>Dear {{htmlescape var=$customer.name}}</strong>:</p>
                              <p style="margin:1.1em 0;">Welcome to the UNL Marketplace.</p>
                                <p style="margin:1.1em 0;">Your e-mail {{var customer.email}} must be confirmed before using it to log in to our store.</p>
                                <p style="margin:1.1em 0;">To confirm the e-mail and instantly log in, please, use <a href="{{store url='customer/account/confirm/' _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#ba0000;">this confirmation link</a>. This link is valid only once.</p>
                                <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; margin:1.1em 0;">
                                Use the following values when prompted to log in:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Password: {{htmlescape var=$customer.password}}</p>
                                <p style="margin:1.1em 0;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:storefront@unl.edu" style="color:#ba0000;">storefront@unl.edu</a> or by phone at (402) 472-9964.</p>
                                <p style="margin:1.1em 0;">Thank you again,</p>
                                <p style="margin:1.1em 0;">&nbsp;</p>
                                <p style="margin:1.1em 0;"><strong>UNL Marketplace</strong></p>
                          </td>
                        </tr>
                        <tr background="http://www.unl.edu/wdn/templates_3.0/images/email/insideFooter.png" style="background-image: url(http://www.unl.edu/wdn/templates_3.0/images/email/insideFooter.png)">
                        	<td style="color:#606060;font-size:10px;line-height:1.4em;padding:12px;font-family:'Lucida Grande',Verdana,Arial;min-height:42px;">
                            	<!--  This the footer -->
                                <p style="margin-top:95px;"><img src="http://www.unl.edu/wdn/templates_3.0/images/email/wordmark.png" alt="" width="90" height="37" align="right" />&copy; 2010 University Communications | 1520 R Street, Lincoln, NE 68501 | 402-472-9964</p>
                            </td>
                        </tr>
                    </table>
                </td>
              <td width="10"></td>
                <td width="12" bgcolor="#E0E0E0"></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" width="600">
            <tr>
            	<td><img src="http://www.unl.edu/wdn/templates_3.0/images/email/footer.png" alt="The University of Nebraska-Lincoln" width="600" height="22" /></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
