<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles

@-->

{{block type='core/template' area='frontend' template='email/common/header.phtml'}}
New password for {{var user.name}}
{{block type='core/template' area='frontend' template='email/common/body.phtml'}}
<p style="margin:1.1em 0;"><strong>Dear {{htmlescape var=$user.name}}</strong>:</p>
<p style="margin:1.1em 0;">Your new password is: {{htmlescape var=$password}}</p>
<p style="margin:1.1em 0;">You can change your password at any time by logging into <a href="{{store url='adminhtml/system_account/'}}" style="color:{{customvar code='email_link_color'}};">your account</a>.</p>
<p style="margin:1.1em 0;">Thank you again,</p>
<p style="margin:2.2em 0 1.1em;"><strong>{{var store.getFrontendName()}}</strong></p>
{{block type='core/template' area='frontend' template='email/common/footer.phtml'}}
