<!--@subject Newsletter subscription confirmation @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<!--@styles

@-->

{{block type='core/template' area='frontend' template='email/common/header.phtml'}}
Newsletter subscription confirmation
{{block type='core/template' area='frontend' template='email/common/body.phtml'}}
<p style="margin:1.1em 0;"><strong>Dear {{htmlescape var=$customer.name}}:</strong></p>
<p style="margin:1.1em 0;">Thank you for subscribing to our newsletter.</p>
<p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; margin:1.1em 0;">To begin receiving the newsletter, you must first confirm your subscription by clicking on the following link:<br />
    <a href="{{var subscriber.getConfirmationLink()}}" style="color:{{customvar code='email_link_color'}};">{{var subscriber.getConfirmationLink()}}</a></p>
<p style="margin:1.1em 0;">Thank you again,</p>
<p style="margin:2.2em 0 1.1em;"><strong>{{var store.getFrontendName()}}</strong></p>
{{block type='core/template' area='frontend' template='email/common/footer.phtml'}}
