<!--@subject {{var store.getFrontendName()}} - Product Ordered Notification @-->
<!--@vars
{"var order":"Order",
"var item":"Ordered Item"
"var customer_name":"Customer Name"}
@-->
<!--@styles

@-->

{{block type='core/template' area='frontend' template='email/common/header.phtml'}}
Product Ordered Notification
{{block type='core/template' area='frontend' template='email/common/body.phtml'}}
<p style="margin:1.1em 0;"><strong>Greetings:</strong></p>
<p style="margin:1.1em 0;">You are receiving this message because a store manager has listed you as a person to notify when the following product is orded on {{var store.getFrontendName()}}. If you feel this is an error, please contact the store manager or contact <a style="color:{{customvar code='email_link_color'}};" href="mailto:{{config path='trans_email/ident_general/email'}}">{{config path='trans_email/ident_general/email'}}</a>.</p>
<hr />
<p style="margin:1.1em 0;">On {{var order.getCreatedAtFormated('long')}}, customer {{htmlescape var=$customer_name}} &lt;<a style="color:{{customvar code='email_link_color'}};" href="mailto:{{htmlescape var=$order.customer_email}}">{{htmlescape var=$order.customer_email}}</a>&gt; ordered the following item with order #{{var order.increment_id}}.</p>
<h3 style="border-bottom:2px solid #eee;color:#494949;font-size:1.05em;padding-bottom:1px;">Billing Information:</h3>
<p style="margin:1.1em 0;">{{var order.getBillingAddress().format('html')}}</p>
{{layout handle="sales_email_order_notify_item" item=$item}}
<br />
<p style="margin:2.2em 0 1.1em;"><strong>{{var store.getFrontendName()}}</strong></p>
{{block type='core/template' area='frontend' template='email/common/footer.phtml'}}
