<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
td {color:#494949; font-size: 12px; line-height: 140%; font-family: 'Lucida Grande',Verdana,Arial;}
@-->

{{block type='core/template' area='frontend' template='email/common/header.phtml'}}
New password for {{var customer.name}}
{{block type='core/template' area='frontend' template='email/common/body.phtml'}}
<p style="margin:1.1em 0;"><strong>Dear {{htmlescape var=$customer.name}}:</strong></p>
<p style="margin:1.1em 0;">Your new password is: {{htmlescape var=$customer.password}}</p>
<p style="margin:1.1em 0;">You can change your password at any time by logging into <a href="{{store url='customer/account/'}}" style="color:#b70302;">your account</a>.</p>
<p style="margin:1.1em 0;">Thank you again,</p>
<p style="margin:2.2em 0 1.1em;"><strong>UNL Marketplace</strong></p>
{{block type='core/template' area='frontend' template='email/common/footer.phtml'}}
